// Your custom variables

@use "sass:map";

@use "../free/_variables.scss" as free-vars with (
  $white: #fbfbfc,
  $light: #f3f4f6,
  $dark: #111827,
);

// Add 2 extra colors for the theme for accents.
$theme-colors: map.merge(free-vars.$theme-colors, (
    'accent': #d97706,
    'accent-alternate': #4f46e5
  )
);

$font-family-base: "Inter var";
$input-btn-font-family: "Inter var";

// Make disabled buttons less opaque, because the orange is coming on pretty
// strong.
$btn-disabled-opacity: 0.5;

// Our buttons are fully rectangular.
$border-radius: 0;

// Header and footer: dark background, font color to match. Dropdown links
// with alternate accent background and a bit spaced apart.
.navbar, .navbar-brand, footer {
  @extend .bg-dark;
}

.navbar-brand {
  @extend .text-white;
}

.button-padding {
  padding: 0.5rem 1.25rem !important;
}

.navbar .nav-link {
  @extend .bg-accent-alternate;
  @extend .text-white;
  @extend .button-padding;
}

.navbar li.nav-item {
    @extend .mx-1;
}

.navbar .btn-group {
  @extend .mx-1;
}

footer {
  @extend .text-muted;
}

.btn {
  @extend .button-padding;
}

.btn-accent {
  // We want white text in our accent buttons, even if it has slightly worse
  // contrast.
  @extend .text-white;
}
