default:
  image: 958883103414.dkr.ecr.eu-central-1.amazonaws.com/ci-toolkit:5

variables:
  VERSION_FILE: src/modules/adsb-feeder/filesystem/root/opt/adsb/version.txt

stages:
  - tag
  - build-install-script
  - build-and-upload-image

tag:
  stage: tag
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    - |
      git config user.email "$GITLAB_USER_EMAIL"
      git config user.name "$GITLAB_USER_NAME"
      git remote set-url origin ssh://git@$CI_SERVER_SHELL_SSH_HOST:$CI_SERVER_SHELL_SSH_PORT/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME.git
      git tag $(cat $VERSION_FILE)
      git push origin $(cat $VERSION_FILE)

build-install-script:
  stage: build-install-script
  rules:
    - if: $CI_COMMIT_BRANCH =~ "main|development"
    - if: $CI_COMMIT_TAG
  script: ./generate-install-script.bash
  artifacts:
    paths:
      - app-install.bash

build-and-upload-image:
  stage: build-and-upload-image
  rules:
    - if: $CI_COMMIT_TAG
  tags:
    - device-image
  script: ./build-and-upload-image.bash $CI_COMMIT_TAG $DEVICE
  parallel:
    matrix:
      - DEVICE:
          - raspberry-pi3
          - raspberry-pi4
          - raspberry-pi5
