[Unit]
Description=Porttracker Feeder Setup
Requires=adsb-rotate-ramlog-to-file.service
Wants=adsb-docker.service
After=network-online.target
# The firewall gets in the way of serving the app.
Conflicts=nftables.service

[Service]
SyslogIdentifier=adsb-setup
WorkingDirectory=/opt/adsb/adsb-setup
ExecStartPre=/bin/bash /opt/adsb/pre-start.sh
ExecStart=/usr/bin/systemd-inhibit --what=idle:sleep --who=adsb-feeder --why="adsb-feeder needs to continue receiving messages" /usr/bin/python3 /opt/adsb/adsb-setup/app.py
ExecStop=/bin/bash /opt/adsb/stop-adsb-setup.bash
ExecStopPost=/opt/adsb/scripts/rotate-ramlog-to-file.bash
Restart=always
Type=simple
RestartSec=5
StartLimitInterval=1
StartLimitBurst=100
StandardOutput=append:/run/porttracker-feeder.log
StandardError=append:/run/porttracker-feeder.log

[Install]
WantedBy=multi-user.target
