[Unit]
Description=Push Prometheus metrics
Requires=prometheus-node-exporter.service
After=prometheus-node-exporter.service

[Service]
Type=oneshot
ExecStart=/opt/adsb/scripts/push-prometheus-metrics.bash /etc/adsb/.env
