[Unit]
Description=Push Prometheus metrics every 3 minutes
Requisite=adsb-setup.service
After=adsb-setup.service

[Timer]
OnCalendar=*-*-* *:0/3:0
AccuracySec=5s

[Install]
WantedBy=multi-user.target
