[Unit]
Description=ADS-B Feeder Dummy service
#TODO needed?+++++++++++++
[Service]
Type=oneshot
WorkingDirectory=/opt/adsb
ExecStart=/bin/bash -c "exit 0"
TimeoutStartSec=0

