[Unit]
Description=ADS-B Feeder Hotspot Service
After=network-online.target
# The firewall gets in the way of serving the hotspot, DNS, etc.
Conflicts=nftables.service

[Service]
Type=oneshot
WorkingDirectory=/opt/adsb
ExecStart=/bin/bash /opt/adsb/scripts/net-or-hotspot.sh
SyslogIdentifier=adsb-hotspot

[Install]
WantedBy=multi-user.target
