[Unit]
Description=Advertise mDNS service and address for %i
Requires=avahi-daemon.service network-online.target
After=avahi-daemon.service
# Disable a rate limit for restarts. If we come out of the hotspot, the script
# may fail a couple of times while we don't have a network yet. But we want to
# keep trying in that case.
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/opt/adsb/scripts/mdns-advertise.bash %i
EnvironmentFile=/etc/adsb/.env
Restart=always

[Install]
WantedBy=multi-user.target
