[Unit]
Description=Advertise mDNS entry %i
Requires=avahi-daemon.service network-online.target
After=avahi-daemon.service

[Service]
Type=simple
ExecStart=/opt/adsb/scripts/advertise-mdns.bash %i
Restart=always
RestartSec=90

[Install]
WantedBy=multi-user.target
