[Unit]
Description=Download new and prune unused Docker images
# Pulling images requires certificates, which need a reasonably accurate time
# (for the expiration). We require systemd-time-wait-sync.service to wait until
# the system time has synchronized to an NTP server.
Requires=adsb-docker.service systemd-time-wait-sync.service
After=adsb-docker.service

[Service]
Type=oneshot
ExecStart=/opt/adsb/scripts/pull-and-prune-images.bash

[Install]
WantedBy=multi-user.target
