[Unit]
Description=Advertise mDNS entry %i
Requires=avahi-daemon.service network-online.target
After=avahi-daemon.service

[Service]
Type=simple
ExecStart=/opt/adsb/scripts/mdns-advertise.bash %i
Restart=always

[Install]
WantedBy=multi-user.target
