[Unit]
Description=Push Prometheus metrics
Requires=prometheus-node-exporter.service
After=prometheus-node-exporter.service

[Service]
Type=oneshot
EnvironmentFile=/opt/adsb/config/.env
ExecStart=/opt/adsb/prometheus/push-prometheus-metrics.bash ${MLAT_SITE_NAME_SANITIZED}
