{% extends "base-regular.html" %}
{% set active_page = "adsb-setup" %}
{% block title %}
  ADS-B Setup
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
      <p class="text-center">
        This page contains options specific only to ADS-B and the Tar1090 application decoding the ADS-B messages.
      </p>
    </div>
  </div>
  <form method="post">
    <div class="row row-cols-1 row-cols-lg-2 g-3 m-3">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title my-1">Additional Ultrafeeder arguments</h5>
            <label for="ultrafeeder-extra-args">
              Here you cann add additional command line arguments to Ultrafeeder. There are very few circumstances where
              this is something you want to manually add. One might be if you want to feed an aggregator that uses the
              'standard' format of all the account-less aggregators, but isn't supported out of the box. Add the
              configuration that you need here - it will be appended to the Ultrafeeder config.
            </label>
            <input type="text"
                   name="ultrafeeder-extra-args"
                   id="ultrafeeder-extra-args"
                   class="w-100 mt-3"
                   value="{{ get_conf('ultrafeeder_extra_args', default='') }}">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title my-1">Additional environment variables</h5>
            <label for="ultrafeeder-extra-env">
              The various Docker containers support a lot more environment variables than are exposed here in the UI.
              If there are settings that you need to add, this is the best place to do it. Please only use this if you
              understand what you are doing. You could easily break your setup by inserting things here that cause the
              containers to not start.
              <br />
              Please enter them one per line, with an equals sign separating the variable name from its value. The
              namespaces for the different containers are distinct, so for simplicity they are all just added here
              together.
            </label>
            <textarea name="ultrafeeder-extra-env"
                      id="ultrafeeder-extra-env"
                      class="w-100 mt-3"
                      placeholder="READSB_RTLSDR_PPM=22&#13;&#10;READSB_RANGE_OUTLINE_HOURS=72">{{ get_conf('ultrafeeder_extra_env', default='') }}</textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title my-1">Additional arguments to Tar1090 map URLs</h5>
            <label for="tar1090-query-params">
              Tar1090, the software used to create the ADS-B map display used in the feeder, contains a plethora of URL
              <a href="https://github.com/wiedehopf/tar1090/blob/master/README-query.md">query parameters</a>. If you
              have preferred query parameters that you always want to use, you can add them here. Note that the string
              you enter here must be a valid query parameter string starting with a question mark, e.g.
              <code>?a&b=1&c&d=sdf</code>.
            </label>
            <input type="text"
                   name="tar1090-query-params"
                   id="tar1090-query-params"
                   class="w-100 mt-3"
                   placeholder="?autoselect&centerReceiver"
                   {%- if get_conf('tar1090_query_params') -%}
                   value="?{{ query_parameter_string(get_conf('tar1090_query_params') ) }}"
                   {%- endif -%}>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title my-1">Tar1090 image config link</h5>
            <p>
              The Tar1090 page (with the ADS-B map) contains a link to the feeder overview page by default. If you want
              to share ONLY that map / statistics with others, but don't want to show them the link to feeder overview
              page (which allows them to change the configuration if no admin password is set), you can disable it here.
              Please note that the user still can simply access that page by just changing the port belonging to the map
              ({{ get_conf("ports.tar1090") }}) to the one of the feeder's main interface ({{ get_conf("ports.web") }}).
              You need to filter this through some firewall settings (which isn't something the feeder supports
              automatically).
            </p>
            <input id="enable-tar1090-image-config-link"
                   class="form-check-input"
                   name="enable-tar1090-image-config-link"
                   type="checkbox"
                   {% if get_conf('tar1090_image_config_link.is_enabled') -%}checked{%- endif %}>
            <label for="enable-tar1090-image-config-link" class="form-check-label">Include the image config link</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Route API</h5>
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     name="enable-route-api"
                     id="enable-route-api"
                     {% if get_conf("route_api") %}checked{% endif %}>
              <label for="enable-route-api" class="form-check-label">
                Use Route API to show flight routes when known.
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Clear range outline</h5>
            The tar1090 map maintains an outline for the area around your antenna where planes have been observed.
            Sometimes, it may be desirable to reset this outline (for example after you changed location).
            <button form="reset-range-outline-form"
                    type="submit"
                    class="btn btn-primary btn-block mt-3">Clear range outline</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">HeyWhat'sThat</h5>
            <p>
              <a href="https://www.heywhatsthat.com/">HeyWhat'sThat</a> is an incredibly cool web service that allows
              you to discover what you should be able to see from the location of your antenna - including estimates for
              how far away you should be able to detect planes (depending on their altitude - and assuming there are no
              other obstructions).
            </p>
            <p>
              To use it, click on the link, select "New Panorama" at the top, enter your address (or find the location
              on the map), enter a title on the lower left and click "Submit request". After a couple of minutes you'll
              be offered to look at your panorama. At the top left you'll see the title you just entered, the latitude
              and longitude and elevation - and below that a link that ends with <code>/?view=CODE</code>. Enter this
              code here to see the theoretical range information on your receiver map.
            </p>
            <input type="text"
                   id="heywhatsthat-id"
                   name="heywhatsthat-id"
                   class="form-control"
                   placeholder="HeyWhat'sThat Panorama ID"
                   value="{{ get_conf('heywhatsthat_id', default='') }}">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-accent btn-block btn-lg my-5">Apply settings</button>
  </form>
  <form id="reset-range-outline-form"
        action="{{ url_for('clear-range-outline') }}"
        method="post">
  </form>
{% endblock content %}
