{% extends "base-regular.html" %}
{% set active_page = "aggregators" %}
{% block title %}
  Setup Data Sharing
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
      <p class="text-center">
        Here you can choose which data aggregator platforms you want to share data with. They are grouped into the AIS
        and ADS-B tabs depending on which data they accept.
      </p>
    </div>
  </div>
  <form method="post" onsubmit="showSpinner(); return true;">
    <div class="card my-2">
      <div class="card-body">
        <ul class="nav nav-pills nav-justified mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="aggregators-tablink-ais"
               data-mdb-toggle="pill"
               href="#aggregators-tab-ais"
               role="tab"
               aria-controls="aggregators-tab-ais"
               aria-selected="true"><span class="fas fa-ship"></span> AIS</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link"
               id="aggregators-tablink-adsb"
               data-mdb-toggle="pill"
               href="#aggregators-tab-adsb"
               role="tab"
               aria-controls="aggregators-tab-adsb"
               aria-selected="false"><span class="fas fa-plane"></span> ADS-B</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane show active"
               id="aggregators-tab-ais"
               role="tabpanel"
               aria-labelledby="aggregators-tablink-ais">
            <div class="card my-2" id="porttracker-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="porttracker-is-enabled"
                           id="porttracker-is-enabled"
                           data-aggregator-key="porttracker"
                           {% if aggregators['porttracker'].enabled('ais') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="porttracker-is-enabled">
                      <a href="https://porttracker.co/">Porttracker</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <!-- These hidden inputs are set by a script on radio button select. -->
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-protocol"
                           value="">
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-host"
                           value="">
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-port"
                           value="">
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-username"
                           value="">
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-password"
                           value="">
                    <input type="hidden"
                           class="required-if-enabled"
                           name="porttracker-mqtt-topic"
                           value="">
                    <div class="row align-items-center">
                      <div class="col-12 col-lg-8">
                        <div class="input-group m-1">
                          <div class="form-outline w-75" data-mdb-input-init>
                            <input type="text"
                                   id="porttracker-data-sharing-key"
                                   name="porttracker-data-sharing-key"
                                   class="form-control required-if-enabled"
                                   value="{{ get_conf('aggregators.porttracker.key', default='') }}">
                            <label class="form-label" for="porttracker-data-sharing-key">Data sharing key</label>
                          </div>
                          <button type="button"
                                  class="btn btn-primary"
                                  data-mdb-button-init
                                  data-mdb-ripple-init
                                  onclick="getAndShowRegisteredPorttrackerStations()">
                            Set data sharing key
                          </button>
                        </div>
                      </div>
                      <div class="col-12 col-lg-4 align-items-center">
                        <div class="m-1 ms-3">
                          <label for="porttracker-enable-prometheus-metrics">Send device metrics to Porttracker</label>
                          <input type="checkbox"
                                 id="porttracker-enable-prometheus-metrics"
                                 name="porttracker-enable-prometheus-metrics"
                                 class="form-check-input me-1"
                                 disabled
                                 {% if get_conf("aggregators.porttracker.prometheus.is_enabled") %}checked{% endif %}>
                        </div>
                      </div>
                    </div>
                    <h4 class="my-2">Registered stations</h4>
                    <p>
                      These are all the stations registered for your data sharing key. Select which one this by clicking on
                      it, or create a new one.
                    </p>
                    <div id="porttracker-registered-stations" class="row"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="aiscatcher-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="aiscatcher-is-enabled"
                           id="aiscatcher-is-enabled"
                           data-aggregator-key="aiscatcher"
                           {% if aggregators['aiscatcher'].enabled('ais') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="aiscatcher-is-enabled">
                      <a href="https://aiscatcher.org">AIS-catcher</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="aiscatcher-feeder-key">
                      Enter your optional AIS-catcher feeder key. Sharing will also work without a key, but you can get
                      one <a href="https://www.aiscatcher.org/addstation_ac">on the website</a>.
                    </label>
                    <input type="text"
                           id="aiscatcher-feeder-key"
                           name="aiscatcher-feeder-key"
                           class="form-control w-75"
                           placeholder="Optional AIS-catcher feeder key"
                           value="{{ get_conf('aggregators.aiscatcher.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="aishub-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="aishub-is-enabled"
                           id="aishub-is-enabled"
                           data-aggregator-key="aishub"
                           {% if aggregators['aishub'].enabled('ais') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="aishub-is-enabled">
                      <a href="https://www.aishub.net/">Aishub</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="aishub-udp-port">
                      Enter your Aishub sharing UDP port. If you don't have one yet, you can request one
                      <a href="https://www.aishub.net/join-us">on the website</a>.
                    </label>
                    <input type="number"
                           min="1"
                           max="65535"
                           id="aishub-udp-port"
                           name="aishub-udp-port"
                           class="form-control w-75 required-if-enabled"
                           placeholder="Aishub sharing UDP port">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane"
               id="aggregators-tab-adsb"
               role="tabpanel"
               aria-labelledby="aggregators-tablink-adsb">
            <div class="form-check">
              <input class="form-check-input me-1"
                     type="checkbox"
                     name="set_config--bool--mlat_privacy"
                     id="mlat_privacy"
                     {% if get_conf('mlat_privacy') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="mlat_privacy">
                Enable privacy flag (ON = your site won't be visible at all on
                <a href="https://mlat.adsb.lol/syncmap/#lat={{ get_conf('lat', default=0) }}#lon={{ get_conf('lon', default=0) }}#zoom=10">
                  public aggregator maps
                </a>
                -- OFF = your site will be visible at an approximate location.)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input me-1"
                     type="checkbox"
                     name="set_config--bool--mlat_enable"
                     id="mlat_enable"
                     {% if get_conf('mlat_enable') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="mlat_enable">Enable MLAT (for selected aggregators supporting MLAT)</label>
            </div>
            <div class="h5 mt-3">Select the account-less ADS-B aggregators you want to feed:</div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="adsblol-is-enabled"
                     id="adsblol-is-enabled"
                     data-aggregator-key="adsblol"
                     {% if aggregators['adsblol'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="adsblol-is-enabled">
                <a href="https://adsb.lol/privacy-license/">adsb.lol</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="flyitaly-is-enabled"
                     id="flyitaly-is-enabled"
                     data-aggregator-key="flyitaly"
                     {% if aggregators['flyitaly'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="flyitaly-is-enabled">
                <a href="https://flyitalyadsb.com/informazioni-legali-e-privacy/">Fly Italy ADSB</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="avdelphi-is-enabled"
                     id="avdelphi-is-enabled"
                     data-aggregator-key="avdelphi"
                     {% if aggregators['avdelphi'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="avdelphi-is-enabled">
                <a href="https://www.avdelphi.com/privacy.html">AVDelphi</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="planespotters-is-enabled"
                     id="planespotters-is-enabled"
                     data-aggregator-key="planespotters"
                     {% if aggregators['planespotters'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="planespotters-is-enabled">
                <a href="https://www.planespotters.net/legal/privacypolicy/">planespotters.net</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     data-mdb-toggle="tooltip"
                     title="please note that this site is missing a clear data/privacy policy"
                     name="tat-is-enabled"
                     id="tat-is-enabled"
                     data-aggregator-key="tat"
                     {% if aggregators['tat'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="tat-is-enabled">
                <a href="https://theairtraffic.com/privacy/">TheAirTraffic.com</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="adsbfi-is-enabled"
                     id="adsbfi-is-enabled"
                     data-aggregator-key="adsbfi"
                     {% if aggregators['adsbfi'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="adsbfi-is-enabled">
                <a href="https://adsb.fi/privacy">adsb.fi</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     data-mdb-toggle="tooltip"
                     title="please note that this site is missing a clear data/privacy policy"
                     name="hpradar-is-enabled"
                     id="hpradar-is-enabled"
                     data-aggregator-key="hpradar"
                     {% if aggregators['hpradar'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="hpradar-is-enabled">
                <a href="https://skylink.hpradar.com/"
                   data-mdb-toggle="tooltip"
                   title="please note that this site is missing a clear data/privacy policy">HPRadar</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="alive-is-enabled"
                     id="alive-is-enabled"
                     data-aggregator-key="alive"
                     {% if aggregators['alive'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="alive-is-enabled">
                <a href="https://airplanes.live/privacy">airplanes.live</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input me-1 aggregator-enabled-checkbox"
                     name="adsbx-is-enabled"
                     id="adsbx-is-enabled"
                     data-aggregator-key="adsbx"
                     {% if aggregators['adsbx'].enabled('adsb') %}checked{% endif %}>
              <label class="mx-1 w-auto" for="adsbx-is-enabled">
                <a href="https://www.adsbexchange.com/privacy-policy/">ADSBExchange</a>
              </label>
            </div>
            {% if aggregators['adsblol'].enabled('adsb') or any_non_adsblol_uf_aggregators %}
              <div class="small fw-light text-muted text-end">
                <div class="small fw-light text-muted text-end collapse" id="show-uuids">
                  {% if aggregators['adsblol'].enabled('adsb') %}
                    adsb.lol UUID: {{ get_conf("adsblol_uuid", default="") }}
                  {% endif %}
                  <br>
                  {% if any_non_adsblol_uf_aggregators %}
                    Ultrafeeder UUID: {{ get_conf("ultrafeeder_uuid", default="") }}
                  {% endif %}
                </div>
                <button class="btn btn-secondary small"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#show-uuids"
                        aria-expanded="false"
                        aria-controls="show-uuids">Show UUIDS</button>
              </div>
            {% endif %}
            <div class="mt-3 mb-1 h5">Select the account based ADS-B aggregators you want to feed:</div>
            <div class="card my-2" id="flightradar-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="flightradar-is-enabled"
                           id="flightradar-is-enabled"
                           data-aggregator-key="flightradar"
                           {% if aggregators['flightradar'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="flightradar-is-enabled">
                      <a href="https://www.flightradar24.com/privacy-policy">flightradar24</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="flightradar-key-or-email">
                      {% if not get_conf('uat978_config.is_enabled') %}
                        Enter your FR24 sharing key (or enter your email address and click the button to request a sharing
                        key)
                      {% else %}
                        Enter your two FR24 sharing keys (first one for ADS-B/1090, second one for UAT). For either or
                        both of the fields you can also enter your email address and the feeder will request the
                        corresponding key for you.
                      {% endif %}
                      Please note that requesting a feeder key by entering an email will fail if you already have three
                      feeders associated with that email address. In that case you will need to email FR24 support and
                      request that they manually add another key for you (or simply use a different email address).
                      <input type="text"
                             id="flightradar-key-or-email"
                             name="flightradar-key-or-email"
                             class="form-control w-75 required-if-enabled"
                             placeholder="existing flightradar24 ADS-B sharing key or email address"
                             value="{{ get_conf('aggregators.flightradar.key', default='') }}">
                      <input type="text"
                             id="flightradar-uat-key-or-email"
                             name="flightradar-uat-key-or-email"
                             class="form-control w-75 {% if not get_conf('uat978_config.is_enabled') %}d-none{% endif %}"
                             placeholder="existing flightradar24 UAT sharing key or email address"
                             value="{{ get_conf('aggregators.flightradar.uat_key', default='') }}">
                      <button type="submit"
                              class="btn btn-primary mt-1"
                              name="flightradar-request-key">Request key</button>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="card my-2" id="planewatch-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="planewatch-is-enabled"
                           id="planewatch-is-enabled"
                           data-aggregator-key="planewatch"
                           {% if aggregators['planewatch'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="planewatch-is-enabled">
                      <a href="https://plane.watch"
                         data-mdb-toggle="tooltip"
                         title="please note that this site is missing a clear data/privacy policy">Plane.watch</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="planewatch-key">
                      To sign up for an API key go to <a href="https://atc.plane.watch/">atc.plane.watch</a>, sign up for
                      an account, log in and click on <b>Feeders, + New Feeder</b>. Fill out the details and save the
                      data. This will show you an API key that you can enter here.
                    </label>
                    <input type="text"
                           id="planewatch-key"
                           name="planewatch-key"
                           class="form-control w-75 required-if-enabled"
                           placeholder="Plane.watch API key"
                           value="{{ get_conf('aggregators.planewatch.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="flightaware-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="flightaware-is-enabled"
                           id="flightaware-is-enabled"
                           data-aggregator-key="flightaware"
                           {% if aggregators['flightaware'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="flightaware-is-enabled">
                      <a href="https://www.flightaware.com/about/privacy/">FlightAware</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="flightaware-feeder-id">
                      You need a FlightAware / Piaware feeder ID. If you already have one, please enter it below.
                      Otherwise, leave the field empty and click on the button and we will try to get one for you. Once
                      this process completes and the feeder ID has been filled in, open the local
                      <a id="piaware-link" href="" target="_blank">Piaware page</a> (this will open in a new tab) and
                      click on the "Claim this feeder on FlightAware" button.
                    </label>
                    <input type="text"
                           id="flightaware-feeder-id"
                           name="flightaware-feeder-id"
                           class="form-control w-75"
                           placeholder="Piaware key"
                           value="{{ get_conf('aggregators.flightaware.key', default='') }}">
                    <button type="submit"
                            class="btn btn-primary mt-1"
                            name="flightaware-request-key">
                      Request
                      key
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="radarbox-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="radarbox-is-enabled"
                           id="radarbox-is-enabled"
                           data-aggregator-key="radarbox"
                           {% if aggregators['radarbox'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="radarbox-is-enabled">
                      <a href="https://www.airnavradar.com/terms-of-use"
                         data-mdb-toggle="tooltip"
                         title="please note that this site is missing a clear data/privacy policy">AirNav Radar</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="radarbox-sharing-key">
                      You need a AirNav Radar (formerly RadarBox) sharing key. If you already have one, please enter it
                      below. Otherwise, leave the field empty and click on the button and we will try to get one for you.
                      Please log into the <a href="https://www.radarbox.com/sharing-data/claim">AirNav Radar website</a>
                      once this process has completed in order to claim the key for your account.
                    </label>
                    <input type="text"
                           id="radarbox-sharing-key"
                           name="radarbox-sharing-key"
                           class="form-control w-75"
                           placeholder="AirNav Radar sharing key"
                           value="{{ get_conf('aggregators.radarbox.key', default='') }}">
                    <button type="submit"
                            class="btn btn-primary mt-1"
                            name="radarbox-request-key">Request key</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="planefinder-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="planefinder-is-enabled"
                           id="planefinder-is-enabled"
                           data-aggregator-key="planefinder"
                           {% if aggregators['planefinder'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="planefinder-is-enabled">
                      <a href="https://planefinder.net/legal/privacy-information-notice">PlaneFinder</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="planefinder-key">
                      You need a PlaneFinder sharecode. If you already have one, please enter it below. Otherwise, request
                      a sharecode from their
                      <a href="https://planefinder.net/sharing/create-sharecode">sharing portal</a>. Make sure you enter
                      the exact same location data in that form.
                    </label>
                    <input type="text"
                           id="planefinder-key"
                           name="planefinder-key"
                           class="form-control w-75 required-if-enabled"
                           placeholder="PlaneFinder sharecode"
                           value="{{ get_conf('aggregators.planefinder.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="adsbhub-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="adsbhub-is-enabled"
                           id="adsbhub-is-enabled"
                           data-aggregator-key="adsbhub"
                           {% if aggregators['adsbhub'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="adsbhub-is-enabled">
                      <a href="https://www.adsbhub.org/privacy-policy.php">ADSBHub</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="adsbhub-key">
                      To sign up for an ADSBHub station key go to
                      <a href="https://www.adsbhub.org/howtofeed.php">ADSBHub how to feed</a>, setting your station up as
                      feeder type "Linux" in "Client" mode, feeding via the "SBS" protocol. This will get you your station
                      key. Existing users can find their station key on the Settings page of the ADSBHub site.
                    </label>
                    <input type="text"
                           id="adsbhub-key"
                           name="adsbhub-key"
                           class="form-control w-75 required-if-enabled"
                           placeholder="ADSBHub station key"
                           value="{{ get_conf('aggregators.adsbhub.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="opensky-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="opensky-is-enabled"
                           id="opensky-is-enabled"
                           data-aggregator-key="opensky"
                           {% if aggregators['opensky'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="opensky-is-enabled">
                      <a href="https://opensky-network.org/about/privacy-policy">OpenSky Network</a>
                    </label>
                  </h5>
                  <!-- this one needs automation set up with a docker container again -- and it needs two fields -->
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="opensky-serial">
                      You need an OpenSky username and serial number. If you already have these, please enter them below.
                      Otherwise, please go to the <a href="https://opensky-network.org/">OpenSky website</a>
                      and register (button should be in the top right corner). Once you have an OpenSky username, enter it
                      below and click Request Key; we will get a serial for you.
                    </label>
                    <input type="text"
                           id="opensky-user"
                           name="opensky-user"
                           class="form-control w-75 required-if-enabled"
                           placeholder="OpenSky username"
                           value="{{ get_conf('aggregators.opensky.user', default='') }}">
                    <input type="text"
                           id="opensky-serial"
                           name="opensky-serial"
                           class="form-control w-75"
                           placeholder="OpenSky serial number"
                           value="{{ get_conf('aggregators.opensky.key', default='') }}">
                    <button type="submit" class="btn btn-primary mt-1" name="opensky-request-key">Request key</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="radarvirtuel-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="radarvirtuel-is-enabled"
                           id="radarvirtuel-is-enabled"
                           data-aggregator-key="radarvirtuel"
                           {% if aggregators['radarvirtuel'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="radarvirtuel-is-enabled">
                      <a href="https://www.radarvirtuel.com/"
                         data-mdb-toggle="tooltip"
                         title="please note that this site is missing a clear data/privacy policy">RadarVirtuel</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="radarvirtuel-key">
                      To sign up for a feeder key send email to
                      <a href="mailto://support@adsbnetwork.com">support@adsbnetwork.com</a>. Include your name, Lat/Lon
                      of nearest airport, and mention that you are using a Docker setup. They will respond with a feeder
                      key that you can enter here
                    </label>
                    <input type="text"
                           id="radarvirtuel-key"
                           name="radarvirtuel-key"
                           class="form-control w-75 required-if-enabled"
                           placeholder="RadarVirtuel feeder key"
                           value="{{ get_conf('aggregators.radarvirtuel.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="1090uk-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="1090uk-is-enabled"
                           id="1090uk-is-enabled"
                           data-aggregator-key="1090uk"
                           {% if aggregators['1090uk'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="1090uk-is-enabled">
                      <a href="https://1090mhz.uk/legal.html#privacy">1090MHz UK</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="1090uk-key">
                      1090MHz UK is only interested in the UK and surrounding countries out to 1000nm including Ireland,
                      Jersey, Guernsey, France, Belgium, Netherlands, North Germany, Denmark, Norway, Faroe Islands. If
                      you are in one of those locations, please contact them at info@1090mhz.uk to get a sharing key.
                    </label>
                    <input type="text"
                           id="1090uk-key"
                           name="1090uk-key"
                           class="form-control w-75 required-if-enabled"
                           placeholder="1090MHz UK sharing key"
                           value="{{ get_conf('aggregators.1090uk.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-2" id="sdrmap-setup">
              <div class="card-body">
                <div class="form-check">
                  <h5 class="card-title my-0">
                    <input type="checkbox"
                           class="form-check-input me-1 aggregator-enabled-checkbox"
                           name="sdrmap-is-enabled"
                           id="sdrmap-is-enabled"
                           data-aggregator-key="sdrmap"
                           {% if aggregators['sdrmap'].enabled('adsb') %}checked{% endif %}>
                    <label class="mx-1 w-auto" for="sdrmap-is-enabled">
                      <a href="https://sdrmap.org/">sdrmap</a>
                    </label>
                  </h5>
                  <div class="form-group my-3 aggregator-extra-input">
                    <label for="sdrmap-user">
                      You need an sdrmap username and password. If you already have these, please enter them below.
                      Otherwise, please send them an email at <tt>send us an email feed@sdrmap.org</tt> and request
                      an account. To make things easier, include your broad location (city/state/country) in the email.
                    </label>
                    <input type="text"
                           id="sdrmap-user"
                           name="sdrmap-user"
                           class="form-control w-75 required-if-enabled"
                           placeholder="sdrmap username"
                           value="{{ get_conf('aggregators.sdrmap.user', default='') }}">
                    <input type="text"
                           id="sdrmap-password"
                           name="sdrmap-password"
                           class="form-control w-75 required-if-enabled"
                           placeholder="sdrmap password"
                           value="{{ get_conf('aggregators.sdrmap.key', default='') }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit"
                class="btn btn-accent btn-block btn-lg my-5"
                name="aggregators">Apply settings</button>
      </div>
    </div>
  </form>
  <script>
    function setPiawareLink() {
      $("#piaware-link").attr(
            "href", `${window.location.protocol}//${window.location.hostname}:{{ get_conf('ports.piastat') }}`);
    }
    setPiawareLink();

    function setExtraInputsVisibility(aggKey, shouldBeVisible) {
      if (shouldBeVisible) {
        $(`#${aggKey}-setup .aggregator-extra-input`).removeClass("d-none");
      } else {
        $(`#${aggKey}-setup .aggregator-extra-input`).addClass("d-none");
      }
    }

    $(".aggregator-enabled-checkbox").each(function(_, checkbox) {
      const aggKey = checkbox.getAttribute("data-aggregator-key");
      checkbox.addEventListener("click", function () {
        setExtraInputsVisibility(aggKey, checkbox.checked);
        for (let requiredInputField of $(`#${aggKey}-setup input.required-if-enabled`)) {
          requiredInputField.required = checkbox.checked;
        }
      });
      setExtraInputsVisibility(aggKey, checkbox.checked);
    });

    function getAndShowRegisteredPorttrackerStations() {
      const dataSharingKey = $("#porttracker-data-sharing-key").val();
      $.ajax(
        "https://porttracker-api.porttracker.co/api/v1/sharing/stations",
        {headers: {"X-Data-Sharing-Key": dataSharingKey}}
      ).done(function (userStations) {
        if (!userStations || !userStations.length) {
          showRegisteredStationNotification(
            "info", "No stations",
            "There are no stations registered to your data sharing key yet.");
          $("#porttracker-enable-prometheus-metrics").attr("disabled", "");
        } else {
          $("#porttracker-registered-stations").html("");
          for (const userStation of userStations) {
            appendRegisteredPorttrackerStation(userStation);
          }
        }
        $("#porttracker-registered-stations").append(`
          <div class="col-12 text-center" id="porttracker-add-new-station-data">
            <button type="button" class="btn btn-primary" data-mdb-button-init data-mdb-ripple-init onclick="showNewPorttrackerStationRegistrationFields()">
              Register a new station
            </button>
          </div>`);
      }).fail(function(jqXHR) {
        showRegisteredStationNotification(
          "error", "Error getting stations", parsePorttrackerErrorDetail(jqXHR));
        $("#porttracker-enable-prometheus-metrics").attr("disabled", "");
      });
    }

    function appendRegisteredPorttrackerStation(
      userStation, useImmediately=false) {
      let descriptionHtml = `<span class="text-muted">no description</span>`
      if (userStation.station.description) {
        descriptionHtml = `<span>${userStation.station.description}</span>`;
      }
      $("#porttracker-registered-stations").append($(`
        <div class="col-12 col-xl-6">
          <label class="w-100">
            <input id="porttracker-select-station-${userStation.station.id}" class="form-check-input required-if-enabled d-none" type="radio" name="porttracker-station-id" value="${userStation.station.id}">
            <div id="porttracker-select-station-card-${userStation.station.id}" class="card my-2 porttracker-select-station-card">
              <div class="card-body">
                <div class="selected-checkmark d-none position-absolute top-0 end-0 m-3">
                  <span class="badge badge-circular badge-success"><span class="fas fa-check text-black"></span></span>
                </div>
                <h5 class="card-title">${userStation.station.hostname}</h5>
                ${descriptionHtml}
                <div class="card-footer text-muted">
                  ID ${userStation.station.id} in Position
                  ${formatPosition(userStation.station.position.lat, userStation.station.position.lon)}
                </div>
              </div>
            </div>
          </label>
        </div>`));
      let useRadioButton = $(`#porttracker-select-station-${userStation.station.id}`);
      useRadioButton.on(
        "click change", {userStation: userStation}, updatePorttrackerStationSelection);
      if (useImmediately || userStation.station.id == {{ get_conf('aggregators.porttracker.station_id') or 'undefined' }}) {
        useRadioButton.attr("checked", "");
        useRadioButton.trigger("click");
      }
      $("#porttracker-enable-prometheus-metrics").removeAttr("disabled");
    }

    function updatePorttrackerStationSelection(event) {
      const selectedCardClasses = "border border-3 border-success";
      $(".porttracker-select-station-card").each(function() {
        $(this).removeClass(selectedCardClasses);
      });
      $(".porttracker-select-station-card .selected-checkmark").addClass("d-none");
      $(`#porttracker-select-station-card-${event.data.userStation.station.id}`).addClass(selectedCardClasses);
      $(`#porttracker-select-station-card-${event.data.userStation.station.id} .selected-checkmark`).removeClass(
        "d-none");
      $("input[name=porttracker-mqtt-protocol]").val(
        event.data.userStation.mosquittoAccess.protocol);
      $("input[name=porttracker-mqtt-host]").val(
        event.data.userStation.mosquittoAccess.host);
      $("input[name=porttracker-mqtt-port]").val(
        event.data.userStation.mosquittoAccess.port);
      $("input[name=porttracker-mqtt-username]").val(
        event.data.userStation.mosquittoAccess.username);
      $("input[name=porttracker-mqtt-password]").val(
        event.data.userStation.mosquittoAccess.password);
      $("input[name=porttracker-mqtt-topic]").val(
        event.data.userStation.mosquittoAccess.aisJsonTopic);
    }

    function showNewPorttrackerStationRegistrationFields() {
      $("#porttracker-add-new-station-data").html(`
        <div class="card my-2">
          <div class="card-body">
            <div class="input-group m-1">
              <span class="input-group-text w-25">Hostname</span>
              <input type="text" id="porttracker-register-new-station-hostname" class="form-control required-if-enabled" value="{{ get_conf('site_name') }}">
            </div>
            <div class="input-group m-1">
              <span class="input-group-text w-25">Description</span>
              <input type="text" id="porttracker-register-new-station-description" class="form-control required-if-enabled" placeholder="Optional">
            </div>
            <div class="input-group m-1">
              <span class="input-group-text w-25">Latitude</span>
              <input type="text" id="porttracker-register-new-station-latitude" class="form-control required-if-enabled" value="{{ get_conf('lat', default=0) }}">
            </div>
            <div class="input-group m-1">
              <span class="input-group-text w-25">Longitude</span>
              <input type="text" id="porttracker-register-new-station-longitude" class="form-control required-if-enabled" value="{{ get_conf('lon', default=0) }}">
            </div>
            <button type="button" class="btn btn-primary m-1" data-mdb-button-init data-mdb-ripple-init onclick="registerNewPorttrackerStation()">
              Register
            </button>
          </div>
        </div>`);
    }

    function registerNewPorttrackerStation() {
      const dataSharingKey = $("#porttracker-data-sharing-key").val();
      const hostname = $("#porttracker-register-new-station-hostname").val();
      const description = $(
        "#porttracker-register-new-station-description").val();
      const latitude = Number.parseFloat(
        $("#porttracker-register-new-station-latitude").val());
      const longitude = Number.parseFloat(
        $("#porttracker-register-new-station-longitude").val());
      if (!hostname) {
        alert("Missing station name.");
        return;
      }
      if (Number.isNaN(latitude) || latitude < -90 || latitude > 90) {
        alert("Invalid latitude");
        return;
      }
      if (Number.isNaN(longitude) || longitude < -180 || longitude > 180) {
        alert("Invalid longitude");
        return;
      }
      $.ajax(
        "https://porttracker-api.porttracker.co/api/v1/sharing/stations",
        {
          method: "POST",
          headers: {"X-Data-Sharing-Key": dataSharingKey},
          contentType: "application/json",
          data: JSON.stringify({
            hostname: hostname,
            description: description || null,
            position: {
              lon: longitude,
              lat: latitude
            }
          })
        }
      ).done(function (userStation) {
        $("#porttracker-add-new-station-data").remove();
        appendRegisteredPorttrackerStation(userStation, true);
      }).fail(function(jqXHR) {
        showRegisteredStationNotification(
          "error", "Error registering new station",
          parsePorttrackerErrorDetail(jqXHR));
      });
    }

    function showRegisteredStationNotification(kind, title, message) {
      let kindClass = "text-bg-info";
      if (kind == "error") {
        kindClass = "text-bg-danger";
      }
      $("#porttracker-registered-stations").html(`
        <div class="col-12">
          <div class="card ${kindClass} m-3">
            <div class="card-body">
              <h5 class="card-title">${title}</h5>
              <p class="card-text">${message}</p>
            </div>
          </div>
        </div>`);
    }

    function parsePorttrackerErrorDetail(jqXHR) {
      try {
          response = JSON.parse(jqXHR.responseText);
          return JSON.stringify(response.detail) || jqXHR.responseText;
      } catch (e) {
          return jqXHR.responseText;
      }
    }

    // Reinitialize mdb inputs to fix labels covering content.
    $(".form-outline").each((_, formOutline) => {
      new mdb.Input(formOutline).init();
    });

    // If a data sharing key is set, load stations immediately.
    if ($("#porttracker-data-sharing-key").val()) {
      showRegisteredStationNotification(
        "info", "Loading stations",
        "Loading existing registered stations for your data sharing key.");
      getAndShowRegisteredPorttrackerStations();
    } else {
      showRegisteredStationNotification(
        "info", "No stations",
        "Set your data sharing key to see registered stations.");
    }
  </script>
{% endblock content %}
