{# Base template with common skeleton for all pages. Includes navigation header and footer. #}
<!DOCTYPE html>
{% set css_theme = get_conf("css_theme") %}
<html lang="en"
      class="h-100"
      data-mdb-theme="{{ css_theme if css_theme in ['light', 'dark'] else 'auto' }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--
    Google Fonts Roboto. Copyright 2011 Google Inc. All Rights Reserved. See /static/fonts/LICENSE-Roboto.txt
    Inter. Copyright 2020 The Inter Project Authors. See /static/fonts/LICENSE-Inter.txt
    -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/fonts.css') }}" />
    <!-- MDB -->
    <link rel="stylesheet"
          id="css-theme"
          href="{{ url_for('static', filename='css/mdb.min.css') }}" />
    {% if css_theme not in ['light', 'dark'] %}
      <script>
        ; (function () {
          const htmlElement = document.querySelector("html");
          if (htmlElement.getAttribute("data-mdb-theme") === "auto") {
            function updateTheme() {
              document.querySelector("html").setAttribute(
                "data-mdb-theme",
                window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
            }
            window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", updateTheme);
            updateTheme();
          }
        })()
      </script>
    {% endif %}
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/fontawesome.min.css') }}" />
    <title>
      {{ get_conf("feeder_name") }}:
      {% block title required %}
      {% endblock title %}
    </title>
  </head>
  <body class="h-100 d-flex flex-column bg-light">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script>
      let tasks = [];
      let taskTimeout = undefined;

      function log(message) {
        console.log(`${new Date().toLocaleTimeString()}: ${message}`);
      }

      if (document.addEventListener !== undefined) {
        // If visibility changes, check if we should execute any tasks, e.g. because they had been paused while the 
        // document was hidden.
        document.addEventListener("visibilitychange", maybeExecuteTasks);
      }

      /**
        Register a function to be executed regularly.

        The function will be executed with the given interval, unless the window is hidden.
      */
      function registerTask(name, interval, func) {
        let task = {name: name, interval: interval, func: func, nextExecutionTime: Date.now()};
        tasks.push(task);
        maybeExecuteTasks();
      }

      function maybeExecuteTasks() {
        clearTimeout(taskTimeout);
        if (document.hidden) {
          // The page isn't visible, there's no point in executing tasks now.
          return;
        }
        const now = Date.now();
        let nextTaskExecutionTime = Infinity;
        for (let task of tasks) {
          if (task.nextExecutionTime < now) {
            log(`Running task "${task.name}"`);
            task.func();
            task.nextExecutionTime = now + task.interval;
          }
          nextTaskExecutionTime = Math.min(nextTaskExecutionTime, task.nextExecutionTime);
        }
        taskTimeout = setTimeout(maybeExecuteTasks, nextTaskExecutionTime - Date.now());
      }

      {% if get_conf('temperature_block') %}
        function update_temp_block(cpu, ext, age) {
          if (cpu == null && ext == null) {
            $("#temperature_block").addClass('d-none');
            return;
          }
          if (isNaN(age - 0)) {
            age = 1
          }
          opacity = Math.min(1, 30 / (1 + age));
          $("#temperature_block").css('opacity', opacity);
          $("#temperature_block").removeClass('d-none');
          if (cpu != null) {
            $("#cpu").removeClass('d-none');
            $("#cpu_temp").removeClass('d-none');
            $("#cpu_temp").text(cpu + "°C");
            if (cpu < 50) {
              $("#cpu_temp").css('color', 'green');
            } else if (cpu < 80) {
              $("#cpu_temp").css('color', 'orange');
            } else {
              $("#cpu_temp").css('color', 'red');
            }
          } else {
            $("#cpu").addClass('d-none');
            $("#cpu_temp").addClass('d-none');
          }
          if (ext != null) {
            $("#ext").removeClass('d-none');
            $("#ext_temp").removeClass('d-none');
            $("#ext_temp").text(ext + "°C");
            if (ext < -10) {
              $("#ext_temp").css('color', 'orange');
            } else if (ext < 40) {
              $("#ext_temp").css('color', 'green');
            } else if (ext < 50) {
              $("#ext_temp").css('color', 'orange');
            } else {
              $("#ext_temp").css('color', 'red');
            }
          } else {
            $("#ext").addClass('d-none');
            $("#ext_temp").addClass('d-none');
          }
        }

        let temperatureTask = {};
        temperatureTask.func = function() {
          let url = "/api/get_temperatures.json";
          fetch(url, {
            method: "GET", cors: "no-cors", signal: AbortSignal.timeout(15000)
          })
            .then(response => { return response.json() })
            .then(data => {
              update_temp_block(data["cpu"], data["ext"], data["age"]);
            })
            .catch((err) => {
              console.log("requested temperatures and got error: " + err);
            });
        }

        registerTask(
          "Update temperature",
          15000,
          function() {
            let url = "/api/get_temperatures.json";
            fetch(url, {
              method: "GET", cors: "no-cors", signal: AbortSignal.timeout(15000)
            })
              .then(response => { return response.json() })
              .then(data => {
                update_temp_block(data["cpu"], data["ext"], data["age"]);
              })
              .catch((err) => {
                console.log("requested temperatures and got error: " + err);
              }
            );
          }
        );
      {% endif %}

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("form").submit(function () {
          // stupid hack to get checkboxes that are unchecked into Flask
          // first hide the form (so the checkboxes don't visibly turn back on)
          // then artificially check them all, but give them values of 0/1 to represent
          // whether they were checked or not
          var this_master = $(this);
          this_master.hide();
          this_master.find('input[type="checkbox"]').each(function () {
            var checkbox_this = $(this);
            // In case the checkbox is disabled, remove the disabled attribute here. We need to do this in order for the
            // checkbox' value to be included in the form.
            checkbox_this.removeAttr("disabled");
            if (checkbox_this.is(":checked") == true) {
              checkbox_this.attr("value", "1");
            } else {
              checkbox_this.prop("checked", true);
              checkbox_this.attr("value", "0");
            }
          });
        });
      });
    </script>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand ms-0 me-1 me-sm-3 hover-container"
           href="{{ url_for('index') }}"
           data-mdb-toggle="tooltip"
           title="Home"
           data-mdb-placement="bottom">
          Porttracker SDR Feeder <span class="ms-3 fas fa-house fa-lg text-accent-alternate hover-accent"></span>
        </a>
        {# Live map buttons in the nav bar. These will be hidden for small screens. #}
        <div class="d-none d-lg-block">
          <div class="btn-group"
               {% if not is_reception_enabled('ais') %}title="AIS reception is disabled"{% endif %}>
            <button type="button"
                    class="btn btn-accent"
                    {% if not is_reception_enabled('ais') %}disabled{% endif %}
                    onclick="document.location='{{ url_for("ais-catcher") }}'">Live Map (AIS)</button>
            {# djlint:off #}
            {# We need to turn off formatting here in order to guarantee the formatter doesn't introduce a whitespace in
               between these 2 btn-group. Since they are rendered as inline-flex, having one there introduces an unwated
               space in the layout. #}
          </div><div class="btn-group"
               {% if not is_reception_enabled('adsb') %}title="ADS-B reception is disabled"{% endif %}>
            {# djlint:on #}
            <button type="button"
                    class="btn btn-accent"
                    {% if not is_reception_enabled('adsb') %}disabled{% endif %}
                    onclick="document.location='{{ url_for("tar1090", **get_conf("tar1090_query_params") ) }}'">
              Live Map (ADS-B)
            </button>
            <button type="button"
                    class="btn btn-accent dropdown-toggle dropdown-toggle-split"
                    {% if not is_reception_enabled('adsb') %}disabled{% endif %}
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ url_for('tar1090', heatmap=None) }}">Heatmap</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('tar1090', pTracks=None) }}">Tracks</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('tar1090', replay=None) }}">Replay</a>
              </li>
            </ul>
          </div>
        </div>
        {% if get_conf('temperature_block') %}
          <div id="temperature_block"
               style="width: 4em;
                      height:auto"
               class="d-none d-sm-block">
            <span id="cpu"
                  class="d-none"
                  style="float:left;
                         width:45%;
                         height:1em;
                         font-size:0.6em;
                         margin-left: 1px">CPU</span>
            <span id="ext"
                  class=" d-none"
                  style="float:left;
                         width:45%;
                         height:1em;
                         font-size:0.6em;
                         margin-left: 1px">EXT</span>
            <span id="cpu_temp"
                  class=" d-none"
                  style="float:left;
                         width:45%;
                         height:1em;
                         font-size:0.6em;
                         margin-left: 1px"></span>
            <span id="ext_temp"
                  class="d-none"
                  style="float:left;
                         width:45%;
                         height:1em;
                         font-size:0.6em;
                         margin-left: 1px"></span>
          </div>
        {% endif %}
        <div class="mx-auto">
          <!-- filler element -->
        </div>
        <button class="navbar-toggler text-accent-alternate"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <svg viewBox="-5 0 10 8" width="1.5em">
            <line y2="8" stroke="#4f46e5" stroke-width="8" stroke-dasharray="1.6 1.4"></line>
          </svg>
        </button>
        <div class="collapse navbar-collapse" style="flex-grow: 0" id="navbar">
          <ul class="navbar-nav ms-1 mb-0">
            {# Maps dropdown menu. This will only be shown on small screens, to replace the big live map buttons. #}
            <li class="nav-item dropdown d-block d-lg-none">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbar-dropdown-maps"
                 role="button"
                 data-mdb-toggle="dropdown"
                 aria-expanded="false">Maps</a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-maps">
                {% if is_reception_enabled('ais') %}
                  <li>
                    <a class="dropdown-item" href="{{ url_for("ais-catcher") }}">AIS Live Map</a>
                  </li>
                {% else %}
                  <li title="AIS reception is disabled">
                    <a class="dropdown-item disabled" href="{{ url_for("ais-catcher") }}">AIS Live Map</a>
                  </li>
                {% endif %}
                {% if is_reception_enabled('adsb') %}
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for("tar1090", **get_conf("tar1090_query_params") ) }}">ADS-B Live Map</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('tar1090', heatmap=None) }}">ADS-B Heatmap</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('tar1090', pTracks=None) }}">ADS-B Tracks</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('tar1090', replay=None) }}">ADS-B Replay</a>
                  </li>
                {% else %}
                  <li title="ADS-B reception is disabled">
                    <a class="dropdown-item disabled"
                       href="{{ url_for("tar1090", **get_conf("tar1090_query_params") ) }}">ADS-B Live Map</a>
                  </li>
                  <li title="ADS-B reception is disabled">
                    <a class="dropdown-item disabled"
                       href="{{ url_for('tar1090', heatmap=None) }}">ADS-B Heatmap</a>
                  </li>
                  <li title="ADS-B reception is disabled">
                    <a class="dropdown-item disabled"
                       href="{{ url_for('tar1090', pTracks=None) }}">ADS-B Tracks</a>
                  </li>
                  <li title="ADS-B reception is disabled">
                    <a class="dropdown-item disabled"
                       href="{{ url_for('tar1090', replay=None) }}">ADS-B Replay</a>
                  </li>
                {% endif %}
              </ul>
            </li>
            {# Setup dropdown menu. #}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbar-dropdown-setup"
                 role="button"
                 data-mdb-toggle="dropdown"
                 aria-expanded="false">Setup</a>
              <ul class="dropdown-menu dropdown-menu-start dropdown-menu-md-end"
                  aria-labelledby="navbar-dropdown-setup">
                <li>
                  <a class="dropdown-item" href="{{ url_for('location-setup') }}">Location</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('network-security-setup') }}">Network & Security</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('sdr_setup') }}">SDR</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('aggregators') }}">Data Sharing</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('systemmgmt') }}">System Management</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('backup') }}">Backup/restore</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('adsb-setup') }}">ADS-B</a>
                </li>
                <li>
                  <a id="options"
                     class="dropdown-item"
                     href="{{ url_for('visualization') }}">Map options</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('dozzle') }}">Dozzle (Docker logs)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('info') }}">Support Info</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('support') }}">Share Diagnostics</a>
                </li>
                {% if is_reception_enabled('adsb') %}
                  <li>
                    <a class="dropdown-item" href="{{ url_for('tar1090-stats') }}">ADS-B stats</a>
                  </li>
                {% else %}
                  <li title="ADS-B reception is disabled">
                    <a class="dropdown-item disabled" href="{{ url_for('tar1090-stats') }}">ADS-B stats</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        {% if current_user.is_authenticated %}
          <form method="post"
                action="{{ url_for('logout', next=request.full_path) }}">
            <button type="submit"
                    class="btn btn-tertiary hover-container"
                    data-mdb-toggle="tooltip"
                    title="Admin logout"
                    data-mdb-placement="bottom">
              <span class="fas fa-arrow-right-from-bracket fa-2x text-accent-alternate hover-accent"></span>
            </button>
          </form>
        {% endif %}
      </div>
    </nav>
    {% block body required %}
    {% endblock body %}
    <footer class="text-center">
      <section class="d-flex justify-content-center border-bottom small">
        <span>
          <a class="link-accent"
             href="https://gitlab.navisense.de/navisense-public/adsb-feeder-image">Porttracker SDR Feeder</a>
          {{ get_conf("base_version") }}, running on {{ get_conf("board_name") }}.
          <br>
          Based on <a class="link-accent" href="https://adsb.im/home">ADS-B Feeder Image</a> by Dirk Hohndel.
        </span>
      </section>
    </footer>
    <script>
      function initOrReplaceMdbTooltip(element) {
        const existingTooltip = mdb.Tooltip.getInstance(element);
        if (existingTooltip) {
          // If a tooltip already exists, we need to dispose of it or it may continue to be displayed.
          existingTooltip.dispose();
        }
        new mdb.Tooltip(element);
      }
      // Initialize all MDB tooltips.
      const elementsWithTooltip = [].slice.call(document.querySelectorAll('[data-mdb-toggle="tooltip"]'));
      for (const elementWithTooltip of elementsWithTooltip) {
        initOrReplaceMdbTooltip(elementWithTooltip);
      }
    </script>
  </body>
</html>
