{# Base template for regular pages (most of them). In addition to the base, includes flashed messages that should be
excluded in pages that redirect automatically. #}
{% extends "base-container.html" %}
{% block container %}
  <div id="flashed-messages">
    {% with categories_and_messages = get_flashed_messages(with_categories=True) %}
      {% for category, message in categories_and_messages %}
        {% if category in ["info", "warning", "success"] %}
          {% set alert_class = "alert-" + category %}
        {% elif category == "error" %}
          {% set alert_class = "alert-danger" %}
        {% else %}
          {% set alert_class = "alert-primary" %}
        {% endif %}
        <div class="alert {{ alert_class }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}
  </div>
  {{ super() }}
{% endblock container %}
