{% extends "base-container.html" %}
{% set active_page = "hotspot" %}
{% block title %}
  Porttracker Feeder Hotspot
{% endblock title %}
{% block content %}
  <div class="alert alert-info">
    This is the wifi hotspot of the Porttracker SDR <strong>{{ get_conf("feeder_name") }}</strong>. You're seeing this
    page because it is not currently connected to a wifi network. You can configure one here. Afterwards, the device
    should be reachable on the network as
    <a href="http://{{ get_conf("feeder_name") }}.local">http://{{ get_conf("feeder_name") }}.local</a> (see also the
    <a href="#reachability-card">section on how to reach the device</a> below).
  </div>
  {% if connect_state == "wrong_credentials" %}
    <div class="alert alert-danger">Failed to connect, wrong SSID or password, please try again.</div>
  {% endif %}
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Available networks</h5>
      <form method="post" class="my-4">
        <div class="row align-items-center">
          {% for network in networks %}
            <div class="col-12 col-lg-6 col-xl-4">
              <label class="w-100">
                <input type="radio"
                       required
                       class="form-check-input d-none"
                       name="ssid"
                       value="{{ network.ssid }}"
                       onclick="updateSsidSelection(this.value);">
                <div class="card my-2 select-ssid-card" data-ssid="{{ network.ssid }}">
                  <div class="card-body">
                    <div class="selected-checkmark d-none position-absolute top-0 end-0 m-3">
                      <span class="badge badge-circular badge-success"><span class="fas fa-check text-black"></span></span>
                    </div>
                    <h5 class="card-title">{{ network.ssid }}</h5>
                    <input type="text"
                           class="form-control my-2 network-input network-input-password d-none"
                           name="password"
                           placeholder="Password">
                    <div class="text-muted">signal strength: {{ network.signal_strength }}</div>
                    <button type="submit" class="btn btn-accent my-2 network-input d-none">Use this network</button>
                  </div>
                </div>
              </label>
            </div>
          {% endfor %}
          <div class="col-12 col-lg-6 col-xl-4">
            <label class="w-100">
              <input type="radio"
                     required
                     class="form-check-input d-none"
                     name="ssid"
                     value=""
                     onclick="updateSsidSelection('');">
              <div class="card my-2 select-ssid-card" data-ssid="">
                <div class="card-body">
                  <div class="selected-checkmark d-none position-absolute top-0 end-0 m-3">
                    <span class="badge badge-circular badge-success"><span class="fas fa-check text-black"></span></span>
                  </div>
                  <h5 class="card-title">Manually enter an SSID</h5>
                  If your network isn't shown here, you can also enter the SSID manually.
                  <input type="text"
                         class="form-control my-2 network-input d-none"
                         name="manual-ssid"
                         placeholder="SSID">
                  <input type="text"
                         class="form-control my-2 network-input network-input-password d-none"
                         name="password"
                         placeholder="Password">
                  <button type="submit" class="btn btn-accent my-2 network-input d-none">Use this network</button>
                </div>
              </div>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card my-2" id="reachability-card">
    <div class="card-body">
      <h5 class="card-title">Device reachability (mDNS)</h5>
      <div class="my-3" id="mdns-status"></div>
      <p class="my-3">
        Once you configure a network, the Hotspot connection will drop and the feeder will attempt to connect to the
        network that you specified. If that WiFi connection is successful, the feeder should become available on that
        WiFi network as
        <a href="http://{{ get_conf("feeder_name") }}.local">http://{{ get_conf("feeder_name") }}.local</a>. This
        requires mDNS to be enabled on your system (it typically is). The test below checks whether it is working right
        now.
      </p>
      <p class="my-3">
        If the connection fails, the feeder will once again bring up this hotspot and you can try entering the
        credentials again.
      </p>
      <p class="my-3">
        A note on reaching devices connected to a separate network: If the WiFi network you're configuring isn't the
        same one you're on, you probably won't be able to reach the device. This is also commonly the case if you
        connect this device to your router's guest access, but you connect to the internal network. In that case it
        may help to use guest access yourself, but in some routers you need to enable an option that guest devices can
        communicate with one another.
      </p>
    </div>
  </div>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/netstatus.js') }}"></script>
  <script>
    function updateSsidSelection(selectedSsid) {
      const card = $(`.select-ssid-card[data-ssid="${selectedSsid}"]`);

      $(".network-input").required = false;
      $(".network-input").addClass("d-none");
      card.find(".network-input").required = true;
      card.find(".network-input").removeClass("d-none");

      $(".network-input-password").attr("name", "password-disabled");
      card.find(".network-input-password").attr("name", "password");

      const selectedCardClasses = "border border-3 border-success";
      $(".select-ssid-card").each(function() {
        $(this).removeClass(selectedCardClasses);
      });
      $(".select-ssid-card .selected-checkmark").addClass("d-none");
      card.addClass(selectedCardClasses);
      card.find(".selected-checkmark").removeClass("d-none");
    }

    function updateMdnsStatusDiv(stati, hasTimedOut) {
      const statusDiv = $("#mdns-status");
      if (hasTimedOut) {
        statusDiv.html(makeNotificationCardHtml(
          "error", "mDNS is not working", "Unable to contact the feeder as {{ get_conf("feeder_name") }}.local."));
      } else if (stati.get("{{ get_conf("feeder_name") }}.local") == "success") {
        statusDiv.html(makeNotificationCardHtml(
          "success", "mDNS is working",
          "The feeder can be reached as {{ get_conf("feeder_name") }}.local, looks like mDNS is working."));
      } else if (stati.get("example.org") != "success") {
        statusDiv.html(makeNotificationCardHtml(
          "info", "Checking mDNS status", "Trying to reach the feeder. This may take a little while."));
      } else {
        statusDiv.html(makeNotificationCardHtml(
          "warning", "Checking mDNS status",
          "The feeder can be reached, but not yet as {{ get_conf("feeder_name") }}.local."));
      }
    }

    if (!{{ get_conf('mdns.is_enabled') | tojson }}) {
      $("#mdns-status").html(makeNotificationCardHtml(
        "info", "mDNS is disabled",
        "mDNS is disabled in this installation. The feeder will not be reachable as "
        + "{{ get_conf("feeder_name") }}.local."));
    } else {
      const checkDomains = ["example.org", "{{ get_conf("feeder_name") }}.local"];
      const connectivityChecker = new FeederConnectivityChecker(checkDomains, updateMdnsStatusDiv, 300 * 1000);
      connectivityChecker.start();
    }
  </script>
{% endblock content %}
