{% extends "base-container.html" %}
{% set active_page = "hotspot" %}
{% block title %}Trying to connect to WiFi{% endblock title %}
{% block content %}
  <script>
    function after60() {
      // hide spinner after 60 seconds and change the overlay text
      document.getElementById("loader").style.display = "none";
      document.getElementById("overlaytext").innerHTML = "Device has probably joined the configured network!";
    }

    function checkRestartStatus() {
      var request = new XMLHttpRequest();
      request.open("GET", "/restart");
      request.onload = function () {
        if (request.status === 200 && request.responseText === "done") {
          // that means we tested the wifi credentials and are back in Hotspot mode
          window.location.replace("/");
        } else if (request.status === 200 && request.responseText === "restarting") {
          // restart is still in progress, show progress and check again after a delay
          setTimeout(checkRestartStatus, 2000);
        } else {
          // ops, we got an error from the server - could be it is briefly turned off for
          // an update or something
          console.log("request to GET /restart resulted in ", request.status);
          setTimeout(checkRestartStatus, 2000);
        }
      };
      request.timeout = 2000;
      request.ontimeout = function () {
        checkRestartStatus();
      };
      request.onerror = function () {
        // ops, we got an error trying to talk to the server - could be it is briefly turned off for
        // an update or something
        console.log("request to GET /restart resulted in an error: ", request.status);
        setTimeout(checkRestartStatus, 2000);
      };
      request.send();
    }

    showSpinner();
    checkRestartStatus();

    setTimeout(after60, 60 * 1000);
  </script>
{% endblock content %}
