{% extends "base-regular.html" %}
{% set active_page = "location-setup" %}
{% block title %}
  Location Setup
{% endblock title %}
{% block content %}
  <div class="{%- if system.system_info.dns_is_working %} d-none {%- endif -%}">
    <div class="alert alert-danger" role="alert">
      The feeder cannot resolve DNS queries. This will most likely prevent it from working at all.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
      <p class="text-center">
        This is the location setup of your antenna. This data is required to make reception of messages work.
      </p>
    </div>
  </div>
  <form method="post" onsubmit="showSpinner(); return true;">
    <div class="card my-2">
      <div class="card-body">
        <p>
          The data below should match the exact location of your antenna. You can use the
          <a href="https://www.freemaptools.com/elevation-finder.htm"
             target="_blank">location and elevation finder tool</a> to find your latitude, longitude, and altitude based
          on your address.
        </p>
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <p>
              If you are re-installing the Porttracker SDR Feeder and have made a backup of your configuration, you can also
              simply restore those settings.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <a class="btn btn-secondary" href="{{ url_for('backup') }}">Restore previous backup</a>
          </div>
        </div>
        <div class="form-group">
          <div class="row my-1 align-items-center">
            <div class="col-12 col-lg-6">
              <label for="station-name">Station Name (shows up on public maps if enabled later)</label>
            </div>
            <div class="col-12 col-lg-6">
              <input type="text"
                     id="station-name"
                     name="station-name"
                     required
                     placeholder="my-awesome-antenna"
                     class="form-control"
                     pattern="[\-_.a-zA-Z0-9 ]+"
                     title="Letters, numbers, -, _, ."
                     value="{{ get_conf('site_name') or get_conf('feeder_name') }}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row my-1 align-items-center">
            <div class="col-12 col-lg-6">
              <label for="latitude">
                Latitude
                <span class="far fa-circle-question"
                      data-mdb-toggle="tooltip"
                      title="degrees of latitude between -90 and +90. Negative numbers mean South, e.g. -12.5 means 12.5°S"></span>
              </label>
            </div>
            <div class="col-12 col-lg-6">
              <input type="text"
                     id="latitude"
                     name="latitude"
                     required
                     placeholder="Antenna latitude"
                     class="form-control"
                     pattern="(?:\+|-|)(?:(?:[0-8]?\d)(?:\.\d+)?|90(?:\.0+)?)(,(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?))?"
                     title="Number between -90 and 90"
                     value="{{ get_conf('lat', default='') }}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row my-1 align-items-center">
            <div class="col-12 col-lg-6">
              <label for="longitude">
                Longitude
                <span class="far fa-circle-question"
                      data-mdb-toggle="tooltip"
                      title="degrees of longitude between -180 and +180. Negative numbers mean West, e.g. -12.5 means 12.5°W"></span>
              </label>
            </div>
            <div class="col-12 col-lg-6">
              <input type="text"
                     id="longitude"
                     name="longitude"
                     required
                     placeholder="Antenna longitude"
                     class="form-control"
                     pattern="(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?)"
                     title="Number between -180 and 180"
                     value="{{ get_conf('lon', default='') }}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row my-1 align-items-center">
            <div class="col-12 col-lg-6">
              <label for="altitude">Altitude above mean sealevel</label>
            </div>
            <div class="col-12 col-lg-6">
              <input type="text"
                     id="altitude"
                     name="altitude"
                     required
                     placeholder="in m - or add 'ft' to enter in ft"
                     class="form-control"
                     pattern="(?:\+|-|)\d+(?:m|ft)"
                     value="{{ get_conf('alt', default='') }}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row my-1 align-items-center">
            <div class="col-12 col-lg-6">
              <div class="d-flex align-items-center">
                <label for="timezone">Timezone</label>
                <button class="btn btn-secondary ms-5"
                        onclick="useBrowserTimezone(true); return false; // return false so the form isn't submitted">
                  Fill in browser timezone
                </button>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <select name="timezone" id="timezone" required class="form-select">
                <option value=""
                        disabled
                        {% if get_conf('tz') not in system.timezones %}selected{% endif %}>
                  Select a timezone...
                </option>
                {% for tz in system.timezones %}
                  <option value="{{ tz }}" {% if get_conf('tz') == tz %}selected{% endif %}>{{ tz }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if get_conf('has_gpsd') %}
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title my-1">GPS based location</h5>
          <p>
            You have gpsd installed and configured. You can use this checkbox to decide whether it should be used
            for the feeder's position.
          </p>
          <input id="use-gpsd"
                 class="form-check-input"
                 name="use-gpsd"
                 type="checkbox"
                 {% if get_conf('use_gpsd') -%}checked{%- endif %}>
          <label for="use-gpsd" class="form-check-label">Enable gpsd</label>
        </div>
      </div>
    {% endif %}
    <button type="submit" class="btn btn-accent btn-block btn-lg my-5">Submit</button>
  </form>
  <script>
    function fixAlt() {
      let altValue = $("#altitude").val();
      let factor = 1.0;
      if (altValue.toLowerCase().includes("ft")) factor = 0.3048;
      let fixedAlt = Math.round(parseFloat(altValue) * factor);
      if (fixedAlt.toString() == "NaN") fixedAlt = "";
      else fixedAlt = fixedAlt + "m";
      $("#altitude").val(fixedAlt);
    }
    fixAlt();
    $("#altitude").on("blur", fixAlt);

    function getBrowserTimezone() {
      let timezone = "";
      try {
        timezone = Intl.DateTimeFormat("en-US").resolvedOptions().timeZone;
      } catch (error) {
        console.error(`Error finding the browser timezone: ${error}`);
      }
      return timezone;
    }

    function useBrowserTimezone(alertIfNotAvailable) {
      let timezone = getBrowserTimezone();
      if (!timezone) {
        if (alertIfNotAvailable) {
          alert("Could not find browser timezone.");
        }
        return;
      } else if (!{{ system.timezones | tojson }}.includes(timezone)) {
        if (alertIfNotAvailable) {
          alert(`Browser timezone ${timezone} does not exist on the device.`);
        }
        return;
      }
      $("#timezone").val(timezone);
    }
    // Set timezone field to browser timezone if not set already.
    if (!$("#timezone").val()) {
      useBrowserTimezone(false);
    }
  </script>
{% endblock content %}
