{% extends "base-regular.html" %}
{% set active_page = "login" %}
{% block title %}
  Admin login
{% endblock title %}
{% block content %}
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 col-xl-6">
      <form method="post">
        <div class="d-flex justify-content-center">
          <input type="password" name="password" required placeholder="Admin password">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
      <p class="text-center">
        In case you forgot the admin password, you can remove it by accessing the device in a root shell (e.g. via ssh
        or with keyboard and monitor) and running <code>/opt/adsb/scripts/remove-admin-password.bash</code>.
      </p>
    </div>
  </div>
{% endblock content %}
