{% extends "base-regular.html" %}
{% set active_page = "overview" %}
{% block title %}
  Porttracker Feeder Homepage
{% endblock title %}
{% block content %}
  <div class="alert alert-danger {% if env_value_by_tag('dns_state') %}d-none{% endif %}"
       role="alert">The feeder cannot resolve DNS queries. This will most likely prevent it from working at all.</div>
  <div class="alert alert-danger {% if not ipv6_broken %}d-none{% endif %}"
       role="alert">
    The feeder has an IPv6 address but IPv6 isn't working. This can cause docker and other issues.
  </div>
  <div class="alert alert-danger {% if not compose_up_failed %}d-none{% endif %}"
       role="alert">
    docker compose up has failed. This means that something is wrong.
    <form method="post">
      <button type="submit" name="submit" value="go" class="btn btn-primary">Retry</button>
    </form>
  </div>
  <div class="alert alert-danger {% if not env_value_by_tag('under_voltage') %}d-none{% endif %}"
       role="alert">
    The feeder system kernel detected under-voltage. This can lead to random crashes and various issues with clock
    stability, reduced reception, failing SDRs, etc. Please check and likely replace your power supply.
  </div>
  <div id="ip-mismatch" class="alert alert-info d-none" role="alert">
    The external IP of your browser and the feeder are different. The information in the status links for some of the
    aggregators below may be incorrect.
  </div>
  <div id="low-disk"
       class="alert alert-info {% if not env_value_by_tag('low_disk') %}d-none{% endif %}"
       role="alert">
    You are running low on disk space on the your feeder. This can lead to odd problems and even crashes. Consider
    upgrading to a larger storage device.
  </div>
  <div class="col-12 mb-3">hostname {{ list_value_by_tag('site_name', 0) }}</div>
  <div class="col-12 mb-3">
    Position / Message rate: <a href="/stats_0/">
    <span id="mf_status_0"></span> — <span id="mf_stats_0"></span>
  </a>
</div>
<div class="col-12 mb-3">
  AIS Message rate:
  <span id="ais_msg_rate" class="fw-bold">--</span>
  — Vessels (last min):
  <span id="ais_vessel_count" class="fw-bold">--</span>
</div>
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
  <div style="position: relative;
              width: 100%;
              height: 100%"
       id="chart-wrapper">
    <canvas id="plane-history-chart"></canvas>
  </div>
</div>
<div class="col-12 {% if (aggregators | length) == 0 %}d-none{% endif %}">
  <h4>You are feeding</h4>
  <div class="row small">
    {% for tc in agg_tables %}
      <div class="col-12 col-md-6" style="overflow-x: auto">
        <table class="table table-bordered table-sm lh-1 table-striped">
          <thead>
            <td style="position: -webkit-sticky; position: sticky; left: 0px;">Aggregator</td>
            <td class="text-center" colspan="1">Enabled</td>
            <td class="text-center" colspan="1">Data</td>
            <td class="text-center" colspan="1">MLAT</td>
            <td class="text-center" colspan="1">Status</td>
          </thead>
          <tbody>
            {% for agg, name, map, status, table in aggregators %}
              {% if (tc == table) %}
                <tr>
                  <td style="position: -webkit-sticky; position: sticky; left: 0px;">
                    <a href="{{ map }}">{{ name }}</a>
                  </td>
                  <td class="text-center">
                    <span id="{{ agg ~ 'span' ~ 0 }}" width="3em">
                      {% if list_is_enabled(agg, 0) %}✓{% endif %}
                    </span>
                  </td>
                  <td class="text-center">
                    <span id="{{ agg ~ 'beast' ~ 0 }}" width="3em"></span>
                  </td>
                  <td class="text-center">
                    <span id="{{ agg ~ 'mlat' ~ 0 }}" width="3em"></span>
                  </td>
                  <td class="text-center">
                    {% if status[0] != "" and list_is_enabled(agg, 0) %}<a href="{{ status[0] }}">🔗</a>{% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
    <div class="col-12 mb-4">
      Enabled indicates feeding the aggregator. <span class="text-success">✓</span> feed is in good state,
      <span class="text-danger">✓</span> feed is down,
      <span class="text-warning">✓</span> feed is degraded,
      <span class="text-muted">✓</span> feed state is not supported
      <br />
      <span onclick="$('#extra_legend').toggleClass('d-none'); return false;">
        <a href="">Toggle detailed legend</a>
      </span>
      <span>| Last status update: <span id="last_status_update"></span></span>
      <br />
      <span class="d-none" id="extra_legend">
        '+': feed/mlat is connected; '☒': feed/mlat is not connected
        <br />
        '☹': mlat sync errors (if this persists for hours, check <a href="https://github.com/wiedehopf/adsb-wiki/wiki/mlat-check">this page</a>)
        <br />
        '⚠': feed is intermittent / degraded
        <br />
        '⚠': mlat sync warning (intermittent sync issue / lack of traffic / no other receivers in the area)
        <br />
        '⟳': container is up for less than a 30 seconds, not checking status
        <br />
        '☈': container is down
        <br />
        '.': status information is not available at this time or not supported
      </span>
    </div>
  </div>
</div>
<div class="col-12 mb-4 {% if env_value_by_tag('aggregator_choice') in ['micro', 'nano'] %}d-none{% endif %}">
  <div class="small">
    {% if (aggregators | length) == 0 %}
      No aggregators configured. Add aggregators:
    {% else %}
      Add or remove aggregators:
    {% endif %}
    <a href="{{ url_for('aggregators') }}">Data Sharing</a>
  </div>
</div>
<div class="col-12 mb-4">
  {% with current_version = env_value_by_tag("base_version") %}
    Running Porttracker Feeder version <strong>{{ current_version }}</strong>
    {% if current_version == tags[0] %}
      (this is the latest stable version)
    {% else %}
      (latest stable version is <strong>{{ tags[0] }}</strong>, see
      <a href="{{ url_for('systemmgmt') }}">system management</a> for update)
    {% endif %}
  {% endwith %}
</div>
<div class="col-12">
  <ul>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Feeder version:</strong></span> {{ version }}
    </li>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Board:</strong></span> {{ board }}
    </li>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Base:</strong></span> {{ base }}
    </li>
    <li>
      <strong>Containers:</strong>
      <ul>
        {% for container in containers %}
          <li>{{ container }}</li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <strong>SDR(s):</strong>
      {% if sdrs %}
        <ul>
          {% for sdr in sdrs %}
            <li>
              <pre>{{ sdr }}</pre>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        no SDRs connected
      {% endif %}
    </li>
  </ul>
</div>
<script src="/static/js/chart.js"
        integrity="sha256-QvTb/nDEMP/CLHEo82yujVmcrJC4zTfI9CpZ5WXl3rc="
        crossorigin="anonymous"></script>
<script>
  let context = document.getElementById("plane-history-chart");
  let shownIndices = new Set();
  let chartGlobal = undefined;
function updateAisStats() {

  const aisEndpoint =
    `${window.location.protocol}//${window.location.hostname}:{{ env_value_by_tag('aiscatcherport') }}/api/stat.json`;

  fetch(aisEndpoint, { signal: AbortSignal.timeout(15000) })
    .then(r => r.json())
    .then(d => {
      const msgRate = (d.msg_rate ?? 0).toFixed(1) + " msg/s";
      const vessels = d.last_minute?.vessels ?? d.vessel_count ?? 0;

      document.getElementById("ais_msg_rate").textContent = msgRate;
      document.getElementById("ais_vessel_count").textContent = vessels;
    })
    .catch(err => console.error("AIS stats fetch failed:", err));
}


  function getStatsData() {
    function elaborateUpdateChart(chart, datasets, labels) {
      // get the length of chart.data.labels
      let days = chart.data.labels.length;
      let newdays = labels.length;
      let mfs = chart.data.datasets.length;
      let newmfs = datasets.length;
      // first deal with fewer days in the data (that's weird, really)
      while (chart.data.labels.length > newdays) {
        for (let j = 0; j < mfs; j++) chart.data.datasets[j].data.pop();
        if (chart.data.labels.pop() == undefined) {
          break;
        }
      }
      days = chart.data.labels.length;
      // now update the days that already exist
      for (let i = 0; i < days; i++) {
        if (chart.data.labels[i] != labels[i]) {
          // this looks better if you pop and push
          while (chart.data.labels.length > i) {
            if (chart.data.labels.pop() == undefined) {
              break;
            }
          }
          for (let k = i; k < days; k++) chart.data.labels.push(labels[k]);
        }
        for (let j = 0; j < mfs; j++) {
          if (chart.data.datasets[j].data[i] != datasets[j].data[i]) {
            for (let k = i; k < days; k++) chart.data.datasets[j].data[k] = datasets[j].data[k];
          }
        }
      }
      // next, add any new days
      for (let i = days; i < newdays; i++) {
        chart.data.labels.push(labels[i]);
        for (let j = 0; j < mfs; j++) chart.data.datasets[j].data.push(datasets[j].data[i]);
      }
      // finally, add new feeders
      for (let i = mfs; i < newmfs; i++) {
        chart.data.datasets.push(datasets[i]);
      }
      // by now, the data should be identical
      chart.update();
    }

    function createChart(todayString, ar, len) {
      chart = new Chart(context, {
        type: 'line',
        data: {
          labels: [],
          datasets: []
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: `Statistics ending ${todayString} (UTC)`,
              font: {
                size: 18,
              }
            },
            legend: {
              display: (len > 1),
              onClick: function (e, legendItem) {
                let index = legendItem.datasetIndex;
                let adding = e.native.shiftKey == false;
                if (adding && shownIndices.size == 0) {
                  // invert
                  for (let i = 0; i < len; i++) {
                    if (i != index) {
                      shownIndices.add(i);
                    }
                  }
                } else {
                  if (shownIndices.has(index)) {
                    shownIndices.delete(index);
                  } else {
                    shownIndices.add(index);
                  }
                }
                if (shownIndices.size == len) shownIndices = new Set();
                clear = shownIndices.size == 0;
                let ci = this.chart;
                for (let i = 0; i < len; i++) {
                  let meta = ci.getDatasetMeta(i);
                  meta.hidden = (clear ? false : (!shownIndices.has(i)));
                }
                // We hid a dataset ... rerender the chart
                ci.update();
              },
              labels: {
                boxWidth: 20,
                useBorderRadius: true,
                borderRadius: 2
              }
            }
          },
          aspectRatio: ar,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      return chart;
    }
    fetch("/api/stats", { signal: AbortSignal.timeout(15000) })
          .then(response => response.json())
          .then(planesHistory => {
            // now let's format the data the way Chart.js wants it
            let len = planesHistory.length;
            let datasets = [];
            let labels = [];
            let feeders = [];
            let light_distinct_colors = [
              "#61c8ff", "#f57200", "#025dfb", "#01d723", "#7300b3", "#a6e927", "#9055ff", "#d8c200",
              "#0039af", "#01db78", "#ff64f8", "#00560b", "#d60098", "#ade587", "#557bff", "#ffaf4c",
              "#6b91ff", "#9d1500", "#3ca4ff", "#574200", "#005296", "#ca0061", "#017960", "#ff8bc4",
              "#1a1a00", "#8ae3ec", "#50003d", "#e4d3b6", "#0f0021", "#ffbbca", "#4f1700", "#008b94"
            ];
            let dark_distinct_colors = [
              "#a94500", "#e1ffe9", "#960089", "#00633e", "#ffce63", "#015d92", "#ff76d4", "#e96200",
              "#ff96ae", "#a7d5ff", "#fdff90", "#bb61ff", "#4c5800", "#283e95", "#bd00e0", "#4fa900",
              "#f8a9ff", "#9dff2f", "#007380", "#4b4539", "#a1003c", "#ffe5cb", "#c00028", "#90af00",
              "#6cf7ff", "#0285fc", "#956900", "#ff1bd4", "#ff8f16", "#ff683c", "#890159", "#00d36d"
            ];
            let distinct_colors = [];
            if (document.documentElement.dataset.mdbTheme == "dark") {
              distinct_colors = dark_distinct_colors;
            } else {
              distinct_colors = light_distinct_colors;
            }
            // determine the length of the longest array in planesHistory and use that as the number of days for the chart
            let days = 0;
            for (let i = 0; i < len; i++) {
              days = Math.max(planesHistory[i].length, days);
            }
            let today = new Date();
            let month = today.toLocaleString("en-us", { month: "long", timeZone: "UTC" });
            let day = today.getUTCDate();
            todayString = `${month} ${day}`;
            for (let i = days-1; i >= 0; i--) {
              let date = new Date();
              date.setDate(date.getDate() - i);
              let day = date.getUTCDate();
              labels.push(day);
            }
            // now collect the feeder names - need to do this in jinja, not JS
            feeders[0] = "{{ list_value_by_tag('site_name', 0) }}";
            // now build the datasets
            for (let i = 0; i < len; i++) {
              datasets.push({
                label: feeders[i],
                data: planesHistory[i].reverse(),
                borderColor: distinct_colors[i % distinct_colors.length]
              });
            }
            if (chartGlobal === undefined) {
              let ar = 2;
              if (len < 4) ar = 2;
              else if (len < 6) ar = 1.7;
              else if (len < 9) ar = 1.4;
              else if (len < 12) ar = 1.1;
              else ar = 0.9;
              chartGlobal = createChart(todayString, ar, len);
            }
            elaborateUpdateChart(chartGlobal, datasets, labels);
          });
  }
  let browser_ip = null;
  let feeder_ip = null;
  let ip_message = "";
  function compareIps() {
    if (feeder_ip == null || browser_ip == null) {
      return;
    }
    if (browser_ip != feeder_ip) {
      let new_ip_message = ["IP check: browser got", browser_ip, "feeder has", feeder_ip].join(" ");
      if (new_ip_message != ip_message) {
        ip_message = new_ip_message;
        console.log(ip_message);
      }
      $("#ip-mismatch").show();
    } else {
      $("#ip-mismatch").hide();
    }
  }

  let check_mf_task = {};
  check_mf_task.func = function() {
    verbose && console.log(new Date().toLocaleTimeString() + " check_mf");
    let url = "/api/stage2_stats";
    fetch(url, {
      method: "GET", cors: "no-cors", signal: AbortSignal.timeout(15000)
    })
      .then(response => { return response.json() })
      .then(data => {
        data.forEach((d, i) => {
          let color_class = "text-danger";
          let tooltip = "not receiving any data"
          if (d["pps"] > 0) {
            color_class = "text-success";
            tooltip = "receiving data (plane total since midnight UTC)"
          } else if (d["uptime"] > 60) {
            color_class = "text-warning";
            tooltip = "receiving unusually little data"
          }
          $("#mf_status_" + i).removeClass("text-danger text-success text-warning");
          $("#mf_status_" + i).addClass(color_class);
          $("#mf_status_" + i).attr('title', tooltip);
          $("#mf_status_" + i).text(d["pps"] + " pos / " + d["mps"] + " msg per sec");
          $("#mf_stats_" + i).removeClass("text-danger text-success text-warning");
          $("#mf_stats_" + i).addClass(color_class);
          $("#mf_stats_" + i).text(d["planes"] + " planes / " + d["tplanes"] + " today");
        })
      });
    scheduleTask(check_mf_task, 15000);
  };

  let startPageTask = {};
  startPageTask.func = function(opt) {
    if (!startPageTask.delay || (opt && opt.visibilityChange)) {
      startPageTask.delay = 35 * 1000;
    } else {
      startPageTask.delay = Math.min(300 * 1000, startPageTask.delay * 1.5);
    }
    let now = Date.now() / 1000;
    verbose && console.log(new Date().toLocaleTimeString() + " refreshing status, next check in " +
      startPageTask.delay / 1000);
    scheduleTask(startPageTask, startPageTask.delay);
    $("#last_status_update").html(new Date().toLocaleTimeString());

    fetch("https://api.ipify.org?format=json", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        browser_ip = data["ip"];
        compareIps();
      });
    fetch("/api/ip_info", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        feeder_ip = data["feeder_ip"];
        compareIps();
      });
    {% for agg, name, m, s, table in aggregators %}
    {% if list_is_enabled(agg, 0) and matrix[0] > 0 %}
    reset_status("{{ agg }}", 0);
    {% endif %}
    {% endfor %}
    get_status("{{ agg }}");
    getStatsData()
    updateAisStats();
  }

  function reset_status(agg, idx) {
    $("#" + agg + "beast" + idx).text(".");
    $("#" + agg + "mlat" + idx).text(".");
    $("#" + agg + "span" + idx).attr("class", "text-muted");
  }
  function get_status(agg) {
    fetch(`/api/status/${agg}`, { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(dict => {
        Object.keys(dict).forEach(idx => {
          const data = dict[idx];
          // now use the idx to do something clever about what is shown there...
          // right now this is broken and just overwrites things
          $("#" + agg + "beast" + idx).text(data["beast"]);
          $("#" + agg + "mlat" + idx).text(data["mlat"]);
          const mlat_broken = !(data["mlat"] == "+" || data["mlat"] == "." || data["mlat"] == " ");
          const beast_broken = !(data["beast"] == "+" || data["beast"] == "." || data["beast"] == " ");
          if (data["beast"] == "+" && !mlat_broken) {
            $("#" + agg + "span" + idx).attr("class", "text-success");
          } else if (data["beast"] == "☒") {
            $("#" + agg + "span" + idx).attr("class", "text-danger");
          } else if (beast_broken || mlat_broken) {
            $("#" + agg + "span" + idx).attr("class", "text-warning");
          } else {
            $("#" + agg + "span" + idx).attr("class", "text-muted");
          }
          if (agg == "adsblol") {
            // console.log("set adsblol-link" + idx + " to " + data["adsblollink"])
            $("#adsblol-link-" + idx).attr("href", data["adsblollink"]);
          }
          if (agg == "alive") {
            $("#alivemaplink_" + idx).attr("href", data["alivemaplink"]);
          }
          if (agg == "adsbx") {
            if (idx == 0) {
              $("#adsbxstatlink").attr("href", "https://www.adsbexchange.com/api/feeders/?feed=" + data["adsbxfeederid"]);
              $("#adsbxmaplink").attr("href", "https://globe.adsbexchange.com/?feed=" + data["adsbxfeederid"]);
            } else {
              // console.log("set adsbxstatlink" + idx)
              $("#adsbxstatlink_" + idx).attr("href", "https://www.adsbexchange.com/api/feeders/?feed=" + data["adsbxfeederid"]);
              $("#adsbxmaplink_" + idx).attr("href", "https://globe.adsbexchange.com/?feed=" + data["adsbxfeederid"]);
            }
          }
        });
      });
  }

  registerTask(check_mf_task);
  registerTask(startPageTask);

</script>
{% endblock content %}
