{% extends "base-regular.html" %}
{% set active_page = "overview" %}
{% block title %}
  Porttracker Feeder Homepage
{% endblock title %}
{% block content %}
  <div class="alert alert-danger {% if env_value_by_tag('dns_state') %}d-none{% endif %}"
       role="alert">The feeder cannot resolve DNS queries. This will most likely prevent it from working at all.</div>
  <div class="alert alert-danger {% if not ipv6_broken %}d-none{% endif %}"
       role="alert">
    The feeder has an IPv6 address but IPv6 isn't working. This can cause docker and other issues.
  </div>
  <div class="alert alert-danger {% if not compose_up_failed %}d-none{% endif %}"
       role="alert">
    docker compose up has failed. This means that something is wrong.
    <form method="post">
      <button type="submit" name="submit" value="go" class="btn btn-primary">Retry</button>
    </form>
  </div>
  <div class="alert alert-danger {% if not env_value_by_tag('under_voltage') %}d-none{% endif %}"
       role="alert">
    The feeder system kernel detected under-voltage. This can lead to random crashes and various issues with clock
    stability, reduced reception, failing SDRs, etc. Please check and likely replace your power supply.
  </div>
  <div id="ip-mismatch" class="alert alert-info d-none" role="alert">
    The external IP of your browser and the feeder are different. The information in the status links for some of the
    aggregators below may be incorrect.
  </div>
  <div id="low-disk"
       class="alert alert-info {% if not env_value_by_tag('low_disk') %}d-none{% endif %}"
       role="alert">
    You are running low on disk space on the your feeder. This can lead to odd problems and even crashes. Consider
    upgrading to a larger storage device.
  </div>
  <div class="col-12 mb-3">hostname {{ list_value_by_tag('site_name', 0) }}</div>
  <div id="ais-stats" class="col-12 mb-3">AIS: No information  </div>
  <div id="adsb-stats" class="col-12 mb-3">ADS-B: No information</div>
<div id="chart-wrapper"
     class="col-md-10 col-12"
     style="position: relative;
            width: 100%;
            height: 100%">
  <canvas id="reception-history-chart"></canvas>
</div>
<div class="col-12 {% if (enabled_aggregators | length) == 0 %}d-none{% endif %}">
  <h4>You are feeding</h4>
  <div class="row small">
    <div class="col-12 col-md-6" style="overflow-x: auto">
      <h5>AIS</h5>
      <table class="table table-bordered table-sm lh-1 table-striped">
        <thead>
          <td style="position: -webkit-sticky; position: sticky; left: 0px;">Aggregator</td>
          <td class="text-center" colspan="1">Enabled</td>
          <td class="text-center" colspan="1">Data</td>
          <td class="text-center" colspan="1">Status</td>
        </thead>
        <tbody>
          {% for agg in enabled_aggregators.values() %}
            {% if not agg.enabled('ais') %}
              {% continue %}
            {% endif %}
            <tr>
              <td style="position: -webkit-sticky; position: sticky; left: 0px;">
                {% if agg.map_url %}
                  <a href="{{ agg.map_url }}">{{ agg.name }}</a>
                {% else %}
                  {{ agg.name }}
                {% endif %}
              </td>
              <td class="text-center">
                <span id="{{ agg.agg_key }}-ais-enabled" width="3em" class="text-muted">✓</span>
              </td>
              <td class="text-center">
                <span id="{{ agg.agg_key }}-ais-data-status" width="3em">.</span>
              </td>
              <td class="text-center">
                {% if agg.status_url %}
                  <a href="{{ agg.status_url }}">🔗</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6" style="overflow-x: auto">
      <h5>ADS-B</h5>
      <table class="table table-bordered table-sm lh-1 table-striped">
        <thead>
          <td style="position: -webkit-sticky; position: sticky; left: 0px;">Aggregator</td>
          <td class="text-center" colspan="1">Enabled</td>
          <td class="text-center" colspan="1">Data</td>
          <td class="text-center" colspan="1">MLAT</td>
          <td class="text-center" colspan="1">Status</td>
        </thead>
        <tbody>
          {% for agg in enabled_aggregators.values() %}
            {% if not agg.enabled('adsb') %}
              {% continue %}
            {% endif %}
            <tr>
              <td style="position: -webkit-sticky; position: sticky; left: 0px;">
                {% if agg.map_url %}
                  <a href="{{ agg.map_url }}">{{ agg.name }}</a>
                {% else %}
                  {{ agg.name }}
                {% endif %}
              </td>
              <td class="text-center">
                <span id="{{ agg.agg_key }}-adsb-enabled" width="3em" class="text-muted">✓</span>
              </td>
              <td class="text-center">
                <span id="{{ agg.agg_key }}-adsb-data-status" width="3em">.</span>
              </td>
              <td class="text-center">
                <span id="{{ agg.agg_key }}-adsb-mlat-status" width="3em">.</span>
              </td>
              <td class="text-center">
                {% if agg.status_url %}
                  <a href="{{ agg.status_url }}">🔗</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 mb-4">
      Enabled indicates feeding the aggregator. <span class="text-success">✓</span> feed is in good state,
      <span class="text-danger">✓</span> feed is down,
      <span class="text-warning">✓</span> feed is degraded,
      <span class="text-muted">✓</span> feed state is not supported
      <br />
      <span onclick="$('#extra-legend').toggleClass('d-none'); return false;">
        <a href="">Toggle detailed legend</a>
      </span>
      <span>| Last status update: <span id="last-aggregator-status-update"></span></span>
      <br />
      <span class="d-none" id="extra-legend">
        '+': feed/mlat is connected; '☒': feed/mlat is not connected
        <br />
        '☹': mlat sync errors (if this persists for hours, check <a href="https://github.com/wiedehopf/adsb-wiki/wiki/mlat-check">this page</a>)
        <br />
        '⚠': feed is intermittent / degraded
        <br />
        '⚠': mlat sync warning (intermittent sync issue / lack of traffic / no other receivers in the area)
        <br />
        '⟳': container is up for less than a 30 seconds, not checking status
        <br />
        '☈': container is down
        <br />
        '.': status information is not available at this time or not supported
      </span>
    </div>
  </div>
  {% if enabled_aggregators | select('in', ['adsblol', 'flightradar', 'planefinder', 'adsbx', 'alive', 'flightaware']) | list %}
    <div class="row">
      <button class="btn btn-secondary small"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#additional-aggregator-links"
              aria-expanded="false"
              aria-controls="additional-aggregator-links">
        Show additional aggregator links
      </button>
    </div>
    <div id="additional-aggregator-links" class="row mt-3 collapse">
      <h5>Additional aggregator links</h5>
      {% if 'adsblol' in enabled_aggregators %}
        <div class="col-12 mb-2">
          <div class="lead">ADSB.lol</div>
          <ul class="mb-0">
            <li><a href="https://status.adsb.lol/">ADSB.lol status</a></li>
            <li><a href="https://www.adsb.lol/docs/feeders-only/introduction/">ADSB.lol feeder introduction</a></li>
            <li>
              <a id="adsblol-link" href="https://my.adsb.lol/">personal ADSB.lol URL with the planes you are sending</a>
            </li>
            <li>
              <a href="https://mlat.adsb.lol/syncmap/#lat={{ list_value_by_tags(['lat']) }}#lon={{ list_value_by_tags(['lon']) }}#zoom=10">
                ADSB.lol MLAT feeder map for the area around {{ list_value_by_tags(['site_name']) }}
              </a>
            </li>
          </ul>
          {% if list_is_enabled("mlat_privacy", 0) %}
            (since you have MLAT privacy enabled, your feeder won't be shown)
          {% else %}
            (your feeder will be at an approximate location as {{ list_value_by_tags(['site_name']) }})
          {% endif %}
        </div>
      {% endif %}
      {% if 'flightradar' in enabled_aggregators %}
        <div class="col-12">
          <div class="lead">FlightRadar 24</div>
          <ul class="mb-0">
            <li><a href="{{ url_for('/fr24/') }}">FR24 status</a></li>
          </ul>
        </div>
      {% endif %}
      {% if 'flightaware' in enabled_aggregators %}
        <div class="col-12">
          <div class="lead">FlightAware</div>
          <div class="small text-muted">
            Note: The SkyAware map on the status page does not work, it's not needed to supply data to FA<br>
            (You can re-enable that map at the cost of increased cpu / memory consumption by adding PIAWARE_MINIMAL=false
            to the environment variables on the expert page)
          </div>
          <ul class="mb-0">
            <li><a href="{{ url_for('/fa-status/') }}">FlightAware status</a></li>
            <li class="d-none"><a href="{{ url_for('/fa/') }}">FlightAware map</a></li>
          </ul>
        </div>
      {% endif %}
      {% if 'planefinder' in enabled_aggregators %}
        <div class="col-12">
          <div class="lead">PlaneFinder</div>
          <ul class="mb-0">
            <li><a href="{{ url_for('/planefinder/') }}">Planefinder map</a></li>
            <li><a href="{{ url_for('/planefinder-stat/') }}">Planefinder stats</a></li>
          </ul>
        </div>
      {% endif %}
      {% if 'adsbx' in enabled_aggregators %}
        <div class="col-12">
          <div class="lead">ADSBExchange</div>
          <ul class="mb-0">
            <li><a id="adsbxstatlink" href="">ADSBx Anywhere Stats</a></li>
            <li><a id="adsbxmaplink" href="">ADSBx Anywhere Map</a></li>
          </ul>
        </div>
      {% endif %}
      {% if 'alive' in enabled_aggregators %}
        <div class="col-12">
          <div class="lead">airplanes.live</div>
          <ul class="mb-0">
            <li><a id="alivestatus" href="https://airplanes.live/myfeed/">Status</a></li>
            <li><a id="alive-map-link" href="">Map</a></li>
          </ul>
        </div>
      {% endif %}
    </div>
    {% endif %}
</div>
<div class="col-12 mb-4">
  <div class="small">
    {% if (enabled_aggregators | length) == 0 %}
      No aggregators configured. Add aggregators:
    {% else %}
      Add or remove aggregators:
    {% endif %}
    <a href="{{ url_for('aggregators') }}">Data Sharing</a>
  </div>
</div>
<div class="col-12 mb-4">
  {% with current_version = env_value_by_tag("base_version") %}
    Running Porttracker Feeder version <strong>{{ current_version }}</strong>
    {% if current_version == tags[0] %}
      (this is the latest stable version)
    {% else %}
      (latest stable version is <strong>{{ tags[0] }}</strong>, see
      <a href="{{ url_for('systemmgmt') }}">system management</a> for update)
    {% endif %}
  {% endwith %}
</div>
<div class="col-12">
  <ul>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Feeder version:</strong></span> {{ version }}
    </li>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Board:</strong></span> {{ board }}
    </li>
    <li>
      <span style="display: inline-block; width: 6em;"><strong>Base:</strong></span> {{ base }}
    </li>
    <li>
      <strong>Containers:</strong>
      <ul>
        {% for container in containers %}
          <li>{{ container }}</li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <strong>SDR(s):</strong>
      {% if sdrs %}
        <ul>
          {% for sdr in sdrs %}
            <li>
              <pre>{{ sdr }}</pre>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        no SDRs connected
      {% endif %}
    </li>
  </ul>
</div>
<script src="{{ url_for('static', filename='js/chart.js') }}"
        integrity="sha256-QvTb/nDEMP/CLHEo82yujVmcrJC4zTfI9CpZ5WXl3rc="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"
        integrity="sha256-Wz7vWK+PBRpzNQ+1MMzRgm5qIeqECmDVqbgay204I6A="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/chartjs-adapter-moment.js') }}"
        integrity="sha256-p6tY88yPX1/I2nC4PfLYbXO21Y6CV+3eOsWtOdkHt3Y="
        crossorigin="anonymous"></script>
<script>
  function createReceptionHistoryChart() {
    let context = document.getElementById("reception-history-chart");
    let chart = new Chart(context, {
      type: 'line',
      data: {
        labels: [],
        datasets: []
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: "Reception statistics",
            font: {
              size: 18,
            }
          },
          legend: {
            onClick: function (e, legendItem) {
              let index = legendItem.datasetIndex;
              if (this.chart.shownIndices.has(index)) {
                this.chart.shownIndices.delete(index);
              } else {
                this.chart.shownIndices.add(index);
              }
              if (this.chart.shownIndices.size == this.chart.data.datasets.length) {
                this.chart.shownIndices.clear();
              }
              updateChartWithShownIndices(this.chart);
            },
            labels: {
              boxWidth: 20,
              useBorderRadius: true,
              borderRadius: 2
            }
          }
        },
        scales: {
          x: {
            type: "time",
            time: {
              tooltipFormat: "YYYY-MM-DD HH:mm:ss",
              minUnit: "second",
              displayFormats: {
                second: "HH:mm:ss",
                minute: "HH:mm:ss",
                hour: "YYYY-MM-DD HH:mm:ss",
                day: "YYYY-MM-DD",
                week: "YYYY-MM-DD",
                month: "YYYY-MM-DD",
                quarter: "YYYY-MM-DD",
                year: "YYYY",
              },
            }
          },
          pps: {
            title: {text: "pos/s", display: true},
            type: "linear",
            display: "auto",
            position: "left",
            beginAtZero: true,
          },
          num: {
            title: {text: "number of ships/planes", display: true},
            type: "linear",
            display: "auto",
            position: "right",
            beginAtZero: true,
            grid: {
              drawOnChartArea: false, // Only show grid lines for one axis.
            },
          },
        }
      }
    });
    chart.shownIndices = new Set();
    return chart;
  }

  function updateChartWithShownIndices(chart) {
    // Extend the x axis to the current time.
    chart.options.scales.x.suggestedMax = moment();
    const showAll = chart.shownIndices.size == 0;
    for (let i = 0; i < chart.data.datasets.length; i++) {
      let meta = chart.getDatasetMeta(i);
      meta.hidden = !(showAll || chart.shownIndices.has(i));
    }
    chart.update("none");
  }

  let receptionHistoryChart = createReceptionHistoryChart();

  function updateCurrentStats(stats) {
    updateCurrentCraftStats("AIS", "ships", stats.ais, $(`#ais-stats`));
    updateCurrentCraftStats("ADS-B", "planes", stats.adsb, $(`#adsb-stats`));
  }

  function updateCurrentCraftStats(type, craftName, craftStats, element) {
    element.removeClass("text-danger text-success text-warning");
    if (!craftStats.enabled) {
      element.addClass("text-warning");
      element.html(`${type} reception is disabled.`);
    } else if (craftStats.current.pps > 0) {
      element.addClass("text-success");
      element.html(
        `${type}: ${craftStats.current.pps.toFixed(1)} positions per second — `
        + `${craftStats.current.num} ${craftName} visible`);
    } else if (craftStats.uptime < 60) {
      element.addClass("text-warning");
      element.html(
        `${type} reception has just been enabled, and we've not seen data arriving yet (let's wait a bit...)`);
    } else {
      element.addClass("text-danger");
      element.html(`${type} reception is enabled, but no data is arriving.`);
    }
  }

  function updateStatsHistory(stats) {
    let light_distinct_colors = [
      "#61c8ff", "#f57200", "#025dfb", "#01d723", "#7300b3", "#a6e927", "#9055ff", "#d8c200",
      "#0039af", "#01db78", "#ff64f8", "#00560b", "#d60098", "#ade587", "#557bff", "#ffaf4c",
      "#6b91ff", "#9d1500", "#3ca4ff", "#574200", "#005296", "#ca0061", "#017960", "#ff8bc4",
      "#1a1a00", "#8ae3ec", "#50003d", "#e4d3b6", "#0f0021", "#ffbbca", "#4f1700", "#008b94"
    ];
    let dark_distinct_colors = [
      "#a94500", "#e1ffe9", "#960089", "#00633e", "#ffce63", "#015d92", "#ff76d4", "#e96200",
      "#ff96ae", "#a7d5ff", "#fdff90", "#bb61ff", "#4c5800", "#283e95", "#bd00e0", "#4fa900",
      "#f8a9ff", "#9dff2f", "#007380", "#4b4539", "#a1003c", "#ffe5cb", "#c00028", "#90af00",
      "#6cf7ff", "#0285fc", "#956900", "#ff1bd4", "#ff8f16", "#ff683c", "#890159", "#00d36d"
    ];
    let distinct_colors = [];
    if (document.documentElement.dataset.mdbTheme == "dark") {
      distinct_colors = dark_distinct_colors;
    } else {
      distinct_colors = light_distinct_colors;
    }
    let datasets = [];
    let colorIdx = 0;
    for (const [type, craftName, craftStats] of [["AIS", "ships", stats.ais], ["ADS-B", "planes", stats.adsb]]) {
      let posRateData = [], numData = [];
      for (const historyItem of craftStats.history) {
        const time = moment.unix(historyItem.ts);
        posRateData.push({x: time, y: historyItem.pps});
        numData.push({x: time, y: historyItem.num});
      }
      datasets.push({
        label: `${type} pos/s`,
        data: posRateData,
        borderColor: distinct_colors[colorIdx++ % distinct_colors.length],
        yAxisID: 'pps',
      });
      datasets.push({
        label: `number of ${craftName}`,
        data: numData,
        borderColor: distinct_colors[colorIdx++ % distinct_colors.length],
        yAxisID: 'num',
      });
    }
    receptionHistoryChart.data.datasets = datasets;
    updateChartWithShownIndices(receptionHistoryChart);
  }
  let browser_ip = null;
  let feeder_ip = null;
  let ip_message = "";
  function compareIps() {
    if (feeder_ip == null || browser_ip == null) {
      return;
    }
    if (browser_ip != feeder_ip) {
      let new_ip_message = ["IP check: browser got", browser_ip, "feeder has", feeder_ip].join(" ");
      if (new_ip_message != ip_message) {
        ip_message = new_ip_message;
      }
      $("#ip-mismatch").show();
    } else {
      $("#ip-mismatch").hide();
    }
  }

  function refreshAggregatorStatus(aggKey) {
    const statusSymbols = {
      unknown: ".",
      disconnected: String.fromCodePoint(0x2612),
      disabled: " ",
      container_down: String.fromCodePoint(0x2608),
      starting: String.fromCodePoint(0x27f3),
      bad: String.fromCodePoint(0x2639),
      warning: String.fromCodePoint(0x26a0),
      good: "+",
    };
    fetch(`/api/status/${aggKey}`, { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(resp => {
        for (const messageType of ["ais", "adsb"]) {
          const status = resp[messageType];
          if (!status) continue;
          $(`#${aggKey}-${messageType}-data-status`).text(statusSymbols[status.data_status]);
          let broken = !(["unknown", "disabled", "good"].includes(status.data_status));
          if (status.mlat_status) {
            broken ||= !(["unknown", "disabled", "good"].includes(status.mlat_status));
            $(`#${aggKey}-${messageType}-mlat-status`).text(statusSymbols[status.mlat_status]);
          }
          let checkMarkElement = $(`#${aggKey}-${messageType}-enabled`);
          if (status.data_status == "good" && !broken) {
            checkMarkElement.attr("class", "text-success");
          } else if (status.data_status == "disconnected") {
            checkMarkElement.attr("class", "text-danger");
          } else if (broken) {
            checkMarkElement.attr("class", "text-warning");
          } else {
            checkMarkElement.attr("class", "text-muted");
          }
          if (status.adsblol_link) {
            $("#adsblol-link").attr("href", status.adsblol_link);
          }
          if (status.alive_map_link) {
            $("#alive-map-link").attr("href", status.alive_map_link);
          }
          if (status.adsbx_feeder_id) {
            $("#adsbxstatlink").attr(
              "href", `https://www.adsbexchange.com/api/feeders/?feed=${status.adsbx_feeder_id}`);
            $("#adsbxmaplink").attr("href", `https://globe.adsbexchange.com/?feed=${status.adsbx_feeder_id}`);
          }
        }
      });
  }

  registerTask(
    "Update reception stats",
    15000,
    function() {
      fetch("/api/stats", {signal: AbortSignal.timeout(2000)})
      .then(response => response.json())
      .then(stats => {
        updateCurrentStats(stats);
        updateStatsHistory(stats);
      });
    }
  );

  registerTask(
    "Update aggregator status",
    60000,
    function() {
      {% for agg in enabled_aggregators.values() %}
        refreshAggregatorStatus("{{ agg.agg_key }}");
      {% endfor %}
      $("#last-aggregator-status-update").html(new Date().toLocaleTimeString());
    }
  );

  registerTask(
    "Update IP info",
    60000,
    function() {
      fetch("https://api.ipify.org?format=json", { signal: AbortSignal.timeout(15000) })
        .then(response => response.json())
        .then(data => {
          browser_ip = data["ip"];
          compareIps();
        });
      fetch("/api/ip_info", { signal: AbortSignal.timeout(15000) })
        .then(response => response.json())
        .then(data => {
          feeder_ip = data["feeder_ip"];
          compareIps();
        });
    }
  );
</script>
{% endblock content %}
