{% extends "base-regular.html" %}
{% set active_page = "sdr_setup" %}
{% block title %}
  SDR Setup
{% endblock title %}
{% block content %}
  <div id="duplicate-serials-alert" class="alert alert-danger d-none">
    There are multiple SDRs with serial numbers <span id="duplicate-serials"></span>. This will not work correctly.
    Please ensure that all SDRs have distinct serial numbers.
  </div>
  <form method="post" action="{{ url_for('configure-sdr') }}">
    <div class="extra-elements-1090 d-none">
      <h5 class="mt-3">Set SDR gain for ADS-B (1090MHz)</h5>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-xxl-5">
          <label for="gain" class="my-1">
            Normally the feeder will settle on a good gain value very quickly. If you want to override that "autogain"
            behavior, you can set an explicit gain value here.
          </label>
        </div>
        <div class="col-6 col-md-6 col-xxl-3">
          <input id="gain"
                 class="form-control mx-2 my-1"
                 name="gain"
                 type="text"
                 style="height: 2rem"
                 pattern="(^auto.*|\d+(?:.\d+)?)"
                 title="A number between 0 and 50 or starting with the word 'auto'"
                 value="{{ get_conf('gain') }}">
        </div>
        {% if get_conf('gain') == 'autogain' %}
          <div class="col-12 col-xxl-4">
            <button type="submit"
            class="btn btn-primary my-1"
                     name="reset-gain">Reset autogain</button>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="extra-elements-978 d-none">
      <h5 class="mt-3">Set SDR gain for UAT (978MHz)</h5>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-xxl-5">
          <label for="uat-gain" class="my-1">
            Normally the feeder will settle on a good gain value over time - however, the "autogain" algorithm for UAT is
            slower and not as reliable as for ADS-B. If you want to override that "autogain" behavior, you can set an
            explicit gain value here.
          </label>
        </div>
        <div class="col-6 col-md-6 col-xxl-3">
          <input id="uat-gain"
                 class="form-control mx-2 my-1"
                 name="uat-gain"
                 type="text"
                 style="height: 2rem"
                 pattern="(?:autogain|\d+(?:.\d+)?)"
                 title="A number between 0 and 50 or the word 'autogain'"
                 value="{{ get_conf('uatgain') }}">
        </div>
        {% if get_conf('uatgain') == 'autogain' %}
          <div class="col-12 col-xxl-4">
            <button type="submit"
            class="btn btn-primary my-1"
                     name="reset-uat-gain">Reset UAT autogain</button>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row my-3">
      <div class="extra-elements-1090 d-none">
        <div class="col-12 col-lg-6">
          <div class="form-check">
            <input class="form-check-input me-1"
                   type="checkbox"
                   name="biast"
                   id="biast"
                   {% if get_conf("biast") %}checked{% endif %}>
            <label for="biast" class="form-check-label">Enable bias-T for ADS-B/1090/airspy SDR</label>
          </div>
        </div>
      </div>
      <div class="extra-elements-978 d-none">
        <div class="col-12 col-lg-6">
          <div class="form-check">
            <input class="form-check-input me-1"
                   type="checkbox"
                   name="uat-biast"
                   id="uatbiast"
                   {% if get_conf("uatbiast") %}checked{% endif %}>
            <label for="uatbiast">Enable bias-T for UAT978 SDR</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="col-8 col-lg-4">
        <div class="text-center">
          <button class="btn btn-secondary btn-block"
                  type="button"
                  onclick="updateSdrInfo()">Check SDRs</button>
        </div>
      </div>
    </div>
    <h5>Available SDR devices</h5>
    <div id="sdr-devices" class="row my-3"></div>
    <div class="row my-3 align-items-center">
      <div class="col-12 col-xl-8">
        <label class="form-label" for="remote-sdr">
          If you are intending to use this feeder with a remote device that has the SDR connected to it and offers
          <code>beast_out</code>, please enter the IPv4 address here (and the port used if it's not 30005):
        </label>
      </div>
      <div class="col-12 col-xl-4">
        <input type="text"
              name="remote-sdr"
              class="form-control mb-2"
              pattern="^\s*(?:\d{1,3}\.){3}\d{1,3}(?:,\s*\d+)?\s*$"
              title="IPv4 address and port, separated by a comma"
              placeholder="IP-address[,port]"
              value="{{ get_conf('remote_sdr', default='') }}">
      </div>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="col-8 col-lg-4">
        <button class="btn btn-secondary btn-block"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#show-lsusb"
              aria-expanded="false"
              aria-controls="show-lsusb">Toggle lsusb output</button>
      </div>
      <div class="col-12">
        <div class="fw-light collapse" id="show-lsusb">
          <h5>lsusb output</h5>
          <pre class="sllmall" id="lsusb-output"></pre>
        </div>
      </div>
    </div>
    <button type="submit"
            class="btn btn-primary btn-block btn-lg my-5"
            name="submit">Apply settings</button>
  </form>
  <script>
    function updateSdrInfo() {
      $.ajax("/api/sdr_info").done(function (sdrInfo) {
        $("#sdr-devices").html("");
        let duplicateSerials = new Set();
        if (!sdrInfo.sdr_devices || !sdrInfo.sdr_devices.length) {
          showSdrDeviceNotification(
            "info", "No devices",
            'There seem to be no devices connected. You can check again with the "Check SDRs" button. But a restart '
            + "may also be necessary.");
        } else {
          let serials = new Set();
          for (const sdrDevice of sdrInfo.sdr_devices) {
            appendSdrDevice(sdrDevice);
            if (serials.has(sdrDevice.serial)) {
              duplicateSerials.add(sdrDevice.serial);
            }
            serials.add(sdrDevice.serial);
          }
        }
        if (duplicateSerials.size) {
          $("#duplicate-serials").text(Array.from(duplicateSerials).join(", "));
          $("#duplicate-serials-alert").removeClass("d-none");
        } else {
          $("#duplicate-serials-alert").addClass("d-none");
        }
        $("#lsusb-output").text(sdrInfo.lsusb_output);
      }).fail(function(jqXHR) {
        showSdrDeviceNotification(
          "error", "Error getting devices", "Error getting info about SDR devices from the feeder.");
      });
    }

    function appendSdrDevice(sdrDevice) {
      let usageDescription = "unused";
      let valueThatShouldBeChecked = "unused";
      if (sdrDevice.assignment == "ais") {
        usageDescription = "handling AIS";
        valueThatShouldBeChecked = sdrDevice.assignment;
      } else if (sdrDevice.assignment == "1090") {
        usageDescription = "handling ADS-B (1090MHz)";
        valueThatShouldBeChecked = sdrDevice.assignment;
      } else if (sdrDevice.assignment == "978") {
        usageDescription = "handling UAT (978MHz)";
        valueThatShouldBeChecked = sdrDevice.assignment;
      }
      $("#sdr-devices").append($(`
        <div class="col-12 col-lg-6">
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title">Device with serial ${sdrDevice.serial}</h5>
              This is a ${sdrDevice.vendor} ${sdrDevice.product} which is ${usageDescription}.
              <div class="sdr-assignment">
                <label class="checkbox-inline mr-2">
                  <input type="radio"
                         name="purpose-${sdrDevice.serial}"
                         value="ais">
                  AIS
                </label>
                <label class="checkbox-inline mr-2">
                  <input type="radio"
                         name="purpose-${sdrDevice.serial}"
                         value="1090">
                  ADS-B (1090MHz)
                </label>
                <label class="checkbox-inline mr-2">
                  <input type="radio"
                         name="purpose-${sdrDevice.serial}"
                         value="978">
                  UAT (978MHz)
                </label>
                <label class="checkbox-inline mr-2">
                  <input type="radio"
                         name="purpose-${sdrDevice.serial}"
                         value="unused">
                  Other
                </label>
              </div>
            </div>
          </div>
        </div>`));
      $(".sdr-assignment input").on("change", onPurposeAssignmentChanged);
      const inputThatShouldBeChecked = $(
        `.sdr-assignment input[name="purpose-${sdrDevice.serial}"][value="${valueThatShouldBeChecked}"]`);
      inputThatShouldBeChecked.prop("checked", "checked");
      inputThatShouldBeChecked.trigger("change");
    }

    // When a radio button is changed, check if we need to take away some other device's assignment to the same purpose.
    function onPurposeAssignmentChanged() {
      const newlyAssignedButton = this;
      if (!newlyAssignedButton.checked) return;
      enableExtraElements();
      if (!["ais", "1090", "978"].includes(newlyAssignedButton.value)) return;
      $(".sdr-assignment input").each(function(i, radioButton) {
        if (newlyAssignedButton == radioButton || !radioButton.checked) return;
        if (newlyAssignedButton.value == radioButton.value) {
          radioButton.checked = false;
          $(`.sdr-assignment input[name="${radioButton.name}"][value="unused"]`).prop("checked", "checked");
        }
      });
    }

    // Enable extra information and settings for particular purposes (ADS-B, UAT) if they're enabled.
    function enableExtraElements() {
      $(".extra-elements-1090").addClass("d-none");
      $(".extra-elements-978").addClass("d-none");
      $(".sdr-assignment input").each(function() {
        if (!this.checked) return;
        if (this.value == "1090") {
          $(".extra-elements-1090").removeClass("d-none");
        } else if (this.value == "978") {
          $(".extra-elements-978").removeClass("d-none");
        }
      });
    }

    function showSdrDeviceNotification(kind, title, message) {
      let kindClass = "text-bg-info";
      if (kind == "error") {
        kindClass = "text-bg-danger";
      }
      $("#sdr-devices").html(`
        <div class="col-12">
          <div class="card ${kindClass} m-3">
            <div class="card-body">
              <h5 class="card-title">${title}</h5>
              <p class="card-text">${message}</p>
            </div>
          </div>
        </div>`);
    }

    updateSdrInfo();
  </script>
{% endblock content %}
