{% extends "base-regular.html" %}
{% block title %}
  SDRplay license
{% endblock title %}
{% block content %}
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Review SDRplay software license</h5>
      <p>
        Support for SDRplay SDRs requires the use of the SDRPlay API V3. YOU MAY ONLY USE THIS FEATURE IN COMPLIANCE
        WITH THE
        <a href="https://sdr-e.com/docker-sdrplay-beast1090/blob/main/LICENSE-SDRplay"
           target="_blank">LICENSE FOR SDRPlay API V3</a>. In order to be able to use this SDR with this feeder image
        you must indicate that you have reviewed and accept
        <a href="https://sdr-e.com/docker-sdrplay-beast1090/blob/main/LICENSE-SDRplay"
           target="_blank">this license</a>.
      </p>
      <p>
        If you don't accept the license, go to the <a href="{{ url_for('sdr_setup') }}">SDR setup page</a> and set the
        configuration for the SDRplay device to "Other".
      </p>
      <form method="post" class="mt-3">
        <div class="form-check">
          <input id="accept-license"
                 class="form-check-input"
                 name="accept-license"
                 type="checkbox"
                 {% if get_conf('sdrplay_license_accepted') -%}checked{%- endif %}>
          <label for="accept-license" class="form-check-label">I have reviewed and ACCEPT the license</label>
        </div>
        <button type="submit" class="btn btn-accent btn-block btn-lg my-5">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
