{% extends "base-regular.html" %}
{% set active_page = "systemmgmt" %}
{% block title %}
  System Management
{% endblock title %}
{% block content %}
  <div class="row row-cols-1 row-cols-lg-2 g-3 m-3">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Set admin password</h5>
          <form method="post" action="{{ url_for('set-admin-password') }}">
            <div class="row align-items-center">
              <div class="col-12 m-1">
                {% if not get_conf("admin_login.is_enabled") %}
                  You can set an admin password here that will be required in order to make changes to the feeder
                  system. Settings pages will show a login page first, while pages showing only information remain
                  accessible without login.
                {% else %}
                  An admin password has already been set. You can change it here by entering a new one. You can also
                  remove password protection by leaving both fields blank.
                {% endif %}
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       name="password"
                       type="password"
                       placeholder="Password">
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       name="password-repeated"
                       type="password"
                       placeholder="Password (repeated)">
              </div>
              <div class="col-12 col-lg-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Update feeder application</h5>
          <form method="post"
                action="{{ url_for('feeder-update') }}"
                onsubmit="showSpinner(); return true;">
            {% with %}
              {% set current_version = get_conf("base_version") %}
              <p class="m-1">
                The device is currently running <strong>{{ current_version }}</strong>.
              </p>
              <p class="m-1">
                You can manually install a newer version (downgrades to previous versions are not supported at the
                moment). You can also configure the device to install the latest version automatically every night.
              </p>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="m-1">
                    <label for="feeder-update-tag-select">These versions are available to update to:</label>
                    <select id="feeder-update-tag-select" name="tag">
                      {% for tag in stable_versions %}
                        {% set disabled = False %}
                        {% if Semver.is_semver(current_version) %}
                          {% set disabled = Semver.parse(current_version) >= tag %}
                        {% endif %}
                        <option value="{{ tag }}"
                                {% if tag == stable_versions[0] %}selected{% endif %}
                                {% if disabled %}disabled{% endif %}>{{ tag }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <button id="feeder-update-submit"
                          type="submit"
                          class="btn btn-primary m-1 w-100"
                          name="do-feeder-update-now">Update the feeder now</button>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="m-1">
                    <input id="nightly-feeder-update"
                           class="form-check-input"
                           name="nightly-feeder-update-enabled"
                           type="checkbox"
                           {% if get_conf('nightly_feeder_update') -%}checked{%- endif %}>
                    <label for="nightly-feeder-update" class="form-check-label">Update every night</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <button type="submit"
                          class="btn btn-primary m-1 w-100"
                          name="configure-feeder-update">Configure nightly update</button>
                </div>
              </div>
            {% endwith %}
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">System update</h5>
          <form method="post"
                action="{{ url_for('os-update') }}"
                onsubmit="showSpinner(); return true;">
            <p class="m-1">
              You can manually upgrade software packages installed via the operating system's package manager here. You
              can also configure the system to do this automatically every night.
            </p>
            <div class="row align-items-center">
              <div class="col-12">
                <button type="submit"
                        class="btn btn-primary m-1 w-100"
                        name="do-system-update-now">Do system update now</button>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <div class="m-1">
                  <input id="nightly-system-update"
                         class="form-check-input"
                         name="nightly-system-update-enabled"
                         type="checkbox"
                         {% if get_conf('nightly_base_update') -%}checked{%- endif %}>
                  <label for="nightly-system-update" class="form-check-label">Update every night</label>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit"
                        class="btn btn-primary m-1 w-100"
                        name="configure-system-update">Configure nightly update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Install SSH credentials</h5>
          <form method="post" action="{{ url_for('set-ssh-credentials') }}">
            <div class="row align-items-center">
              <div class="col-12">
                <label for="ssh-public-key" class="m-1">
                  Enter or paste your public key below. This will allow you to log in as root on the device.
                </label>
              </div>
              <div class="col-12 col-md-8">
                <textarea class="m-1 w-100"
                          id="ssh-public-key"
                          name="ssh-public-key"
                          placeholder="Enter your public key"
                          rows="5"
                          required></textarea>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Set new root password</h5>
          <form method="post" action="{{ url_for('set-root-password') }}">
            <div class="row align-items-center">
              <div class="col-12">
                <label for="root-password" class="m-1">
                  <p>
                    If you need to be able to log into the device as root user (and really, you almost never should need
                    to), you can set a password here.
                  </p>
                  <p>
                    After that you'll be able to log in as root using an ssh client (e.g. putty on Windows or ssh on
                    macOS or Linux). Note that this will also ensure that sshd is running, and enable password
                    authentication for the root user. This is often considered a security concern, so you may want to
                    use public key authentication instead.
                  </p>
                </label>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       id="root-password"
                       name="password"
                       type="password"
                       placeholder="Password"
                       required>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       name="password-repeated"
                       type="password"
                       placeholder="Password (repeated)"
                       required>
              </div>
              <div class="col-12 col-lg-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Set root password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Restart / recreate containers</h5>
          <form method="post"
                action="{{ url_for('restart-containers') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12">
                <label for="restart_containers" class="m-1">
                  Typically this shouldn't be necessary, but occasionally it seems that for whatever reason a container
                  doesn't pick up a setting or gets otherwise stuck.
                  <br>
                  Not selecting any containers means that the action will be performed for all containers.
                </label>
              </div>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="row align-items-center m-1">
                    {% for container in containers %}
                      <div class="col-12">
                        <input type="checkbox"
                               name="{{ container.name }}"
                               id="restart-{{ container.name }}">
                        <label for="restart-{{ container.name }}">{{ container.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="row align-items-center">
                    <button type="submit" class="btn btn-primary m-1 w-100" name="restart">Restart Containers</button>
                    <button type="submit" class="btn btn-primary m-1 w-100" name="recreate">Recreate Containers</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Configure Tailscale VPN</h5>
          {% if tailscale_info.status in ["not_installed", "error"] %}
            <div class="alert alert-warning m-1">
              The image can establish and manage a Tailscale connection, but Tailscale is not installed or there is an
              error with it (check the logs). You have to install it manually using <code>apk add tailscale</code>.
            </div>
          {% else %}
            <form method="post"
                  action="{{ url_for('configure-tailscale') }}"
                  onsubmit="showSpinner(); return true;">
              <div class="row align-items-center">
                <div class="col-12">
                  <label for="tailscale" class="m-1">
                    Tailscale support allows to connect your ADS-B Feeder to your own tailnet.
                    <br />
                    {% if not get_conf("tailscale.is_enabled") %}
                      In order to do this, we will start the <code>tailscale</code> client on the feeder SBC and then
                      redirect you back here and add a link to the login page so you can authenticate the device on
                      your tailnet.
                    {% endif %}
                    {% if tailscale_info.status == "logged_out" %}
                      Click this <a href="{{ get_conf('tailscale.login_link') }}" target="_blank">link to open
                      {{ get_conf("tailscale.login_link") }}</a>. After you have logged in, please come back to this
                      tab and reload this page.
                    {% endif %}
                    {% if tailscale_info.status == "logged_in" %}
                      This device should now be on your tailnet as '{{ tailscale_info.hostname }}'.
                    {% elif not get_conf("tailscale.login_link") %}
                      You can add options like a specific <code>--login-server</code> below. But please note that
                      <code>--authkey</code> isn't supported at this point.
                    {% endif %}
                  </label>
                </div>
                <div class="col-12 col-md-8">
                  <div class="row">
                    <div class="col-12">
                      <div class="m-1">
                        <input id="tailscale-enabled"
                               class="form-check-input"
                               name="enabled"
                               type="checkbox"
                               {% if get_conf('tailscale.is_enabled') -%}checked{%- endif %}>
                        <label for="tailscale-enabled" class="form-check-label">Enable</label>
                      </div>
                      <div class="col-12">
                        {% if not get_conf('tailscale.is_enabled') %}
                          <input class="m-1 w-100"
                                 id="tailscale-extras"
                                 name="tailscale-extras"
                                 type="text"
                                 value="{{ get_conf('tailscale.extras', default='') }}"
                                 placeholder="Enter additional tailscale options you need">
                        {% else %}
                          <div class="alert alert-danger m-1">
                            Tailscale is enabled. Disabling it will prevent you from accessing this feeder if you use
                            the Tailscale network to connect to it.
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
                </div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Configure Zerotier VPN</h5>
          <form method="post"
                action="{{ url_for('configure-zerotier') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12">
                <label for="zerotierid" class="m-1">
                  Zerotier support allows to connect your ADS-B Feeder to your own global area network.
                  {% if not zerotier_running %}
                    Please add your Zerotier Network ID below.
                    <br>
                    Once this process has completed, you need to accept the new device into the network on the
                    Zerotier website.
                  {% else %}
                    <br>
                    This device should now be on your Zerotier network.
                  {% endif %}
                </label>
              </div>
              <div class="col-12 col-md-8">
                <div class="row">
                  <div class="col-12">
                    <div class="m-1">
                      <input id="zerotier-enabled"
                             class="form-check-input"
                             name="enabled"
                             type="checkbox"
                             {% if zerotier_running -%}checked{%- endif %}>
                      <label for="zerotier-enabled" class="form-check-label">Enable</label>
                    </div>
                    <div class="col-12">
                      {% if not zerotier_running %}
                        <input class="m-1 w-100"
                               id="zerotierid"
                               name="zerotierid"
                               type="text"
                               value="{{ get_conf('zerotierid', default='') }}"
                               placeholder="Enter your Zerotier Network ID"
                               required>
                      {% else %}
                        <div class="alert alert-danger m-1">
                          Zerotier is running. Disabling it will prevent you from accessing this feeder if you use the
                          Zerotier network to connect to it.
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">
            {% if wifi != "" %}
              Reconfigure
            {% else %}
              Connect to
            {% endif %}
            WiFi
          </h5>
          <form method="post"
                action="{{ url_for('configure-wifi') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 m-1">
                {% if wifi %}
                  This feeder is connected to the <strong>{{ wifi }}</strong> WiFi network.
                {% else %}
                  This feeder is connected via Ethernet.
                {% endif %}
              </div>
              <div class="col-12 m-1">
                Enter the SSID and password of the WiFi network you want to connect to. Note that it can take several
                minutes for the connection to be established and tested. And in some cases a forced reboot (pull
                power) may be required. Depending on the exact version of the base OS of the feeder image that you are
                using, the user experience may be slightly different, but when the process appears stuck even after a
                longer wait, a reboot may be the way to go.
              </div>
              <div class="col-12 m-1">
                Remember that if the change is successful, you need to connect to the feeder on that new network.
                There is no way for the feeder to automatically forward you to that.
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       id="wifi_ssid"
                       name="wifi_ssid"
                       type="text"
                       placeholder="SSID"
                       required>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <input class="m-1 w-100"
                       id="wifi_password"
                       name="wifi_password"
                       type="text"
                       placeholder="Password"
                       required>
              </div>
              <div class="col-12 col-lg-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Configure hotspot behavior</h5>
          <p>
            The system continuously checks whether it can still reach the internet. If there is no connectivity, it
            can start a wifi hotspot to which you can connect and configure a wifi network to use (e.g. because the
            device doesn't have a display attached). If this setting is <strong>on</strong>, the hotspot will be
            started when there is no connectivity, if it is <strong>off</strong>, it will never be started. In the
            setting <strong>auto</strong>, the system will try to determine if a graphical interface is running, and
            only start the hotspot if it can't find one.
          </p>
          <form method="post" action="{{ url_for('configure-hotspot') }}">
            <div class="d-flex align-items-center">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio"
                         class="form-check-input"
                         name="hotspot-mode"
                         value="auto"
                         {%- if get_conf("enable_hotspot") is none -%}
                         checked
                         {%- endif -%}>
                  auto
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio"
                         class="form-check-input"
                         name="hotspot-mode"
                         value="on"
                         {%- if get_conf("enable_hotspot") is true -%}
                         checked
                         {%- endif -%}>
                  on
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio"
                         class="form-check-input"
                         name="hotspot-mode"
                         value="off"
                         {%- if get_conf("enable_hotspot") is false -%}
                         checked
                         {%- endif -%}>
                  off
                </label>
              </div>
              <div class="form-check form-check-inline">
                <button type="submit" class="btn btn-primary m-1 w-100">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">System log persistence toggle</h5>
          <form method="post"
                action="{{ url_for('toggle-log-persistence') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <div class="row align-items-center">
                  Currently the log is
                  {% if not get_conf("journal.is_persistent") %}not{% endif %}
                  written to disk.
                </div>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">
                  {% if get_conf("journal.is_persistent") %}
                    Disable
                  {% else %}
                    Enable
                  {% endif %}
                  persistent logging
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Reboot</h5>
          <form method="post"
                action="{{ url_for('shutdown-reboot') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <label for="reboot" class="m-1">
                  Reboot the feeder. Please note that some boards are not able to reboot without manually power
                  cycling.
                </label>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100" name="reboot">Reboot</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Shutdown</h5>
          <form method="post"
                action="{{ url_for('shutdown-reboot') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <label for="shutdown" class="m-1">
                  Shutdown the feeder. Most boards won't turn off power by themselves.
                </label>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100" name="shutdown">Shutdown</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function setUpdateButtonEnabledDisabled() {
      const selectedVersion = $('#feeder-update-tag-select option:selected').val();
      const currentVersionSelected = selectedVersion == '{{ get_conf("base_version") }}';
      $('#feeder-update-submit').prop('disabled', currentVersionSelected);
    }

    $('#feeder-update-tag-select').on('change', setUpdateButtonEnabledDisabled);

    setUpdateButtonEnabledDisabled();
  </script>
{% endblock content %}
