{% extends "base-regular.html" %}
{% set active_page = "system-info" %}
{% block title %}
  System Info
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
      <p class="text-center">
        This page contains information about your device and the software that is running on it.
      </p>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">System data</h5>
      <ul>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Current version:</strong></span> {{ get_conf("base_version") }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Board:</strong></span> {{ get_conf("board_name") }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Base image:</strong></span> {{ get_conf("image_name") }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Kernel:</strong></span> {{ kernel }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Power:</strong></span> Undervoltage
          {% if not system.undervoltage %}not{% endif %}
          reported
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Journal:</strong></span> {{ journal }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>DNS:</strong></span>
          {% if system.system_info.dns_is_working %}
            DNS appears to be working
          {% else %}
            The feeder cannot resolve DNS queries
          {% endif %}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>IPv6:</strong></span> {{ ipv6 }}
        </li>
        <li>
          <span style="display: inline-block; width: 6em;"><strong>Netdog reboots:</strong></span>
          <br />
          <pre>{{ netdog }}</pre>
        </li>
        <li id="ip-mismatch" class="d-none">
          <span style="display: inline-block; width: 6em;"><strong>IP:</strong></span>
          Your browser and the feeder have different external IP addresses.
        </li>
        <li id="ip-match" class="d-none">
          <span style="display: inline-block; width: 6em;"><strong>Network/IP:</strong></span>
          Your browser and the feeder have the same external IP address.
        </li>
        <li>
          <strong>Configured images:</strong>
          <ul>
            {% for image in images %}<li>{{ image }}</li>{% endfor %}
          </ul>
        </li>
        <li>
          <strong>SDR(s):</strong>
          <ul>
            {% for sdr in sdrs %}
              <li>
                <pre>{{ sdr }}</pre>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <strong>Ultrafeeder args:</strong>
          <br />
          <pre>{{ get_conf('ultrafeeder_extra_args') }}</pre>
        </li>
        <li>
          <strong>Env variables:</strong>
          <br />
          <pre>{{ get_conf('ultrafeeder_extra_env') }}</pre>
        </li>
        <li>
          <strong>Memory:</strong>
          <br />
          <pre>{{ memory }}</pre>
        </li>
        <li>
          <strong>Storage:</strong>
          <br />
          <pre>{{ storage }}</pre>
        </li>
        <li>
          <strong>Top:</strong>
          <br />
          <pre>{{ top }}</pre>
        </li>
      </ul>
    </div>
  </div>
  {# Disabled for the moment, because upload doesn't work, anonymization is spotty, and it's not important enough to fix
     right away
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Diagnostics file download</h5>
      <p>
        This will create an anonymized log that removes IP addresses, locations, and any aggregator keys and other
        secrets from your logs and upload them to a website for easier sharing with the developers.
      </p>
      <p class="{% if diagnostics_url %}d-none{% endif %}">
        After you click the button, this will display a link that you can share with us (and that you can review first
        to make sure no personal data is included).
      </p>
      <p class="{% if not diagnostics_url %}d-none{% endif %}">
        The link to the uploaded log is: <a href="{{ diagnostics_url }}">{{ diagnostics_url }}</a>.
      </p>
      <p class="{% if not diagnostics_url %}d-none{% endif %}">
        Please share this link with the developers who are trying to help you
        (and who most likely asked you to provide this info in the first place).
      </p>
      <form method="post" action="{{ url_for('download-diagnostics') }}" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary btn-rounded p-4 mb-3" name="upload" value="0x0.st" onclick="showSpinner(); return true;">Upload Logs to 0x0.st (curl POST)</button>
        <button type="submit" class="btn btn-primary btn-rounded p-4 mb-3" name="upload" value="termbin.com" onclick="showSpinner(); return true;">Upload Logs to termbin.com (netcat)</button>
        <button type="submit" class="btn btn-primary btn-rounded p-4 mb-3" name="upload" value="local_download">Download Logs</button>
        <button type="submit" class="btn btn-primary btn-rounded p-4 mb-3" name="upload" value="local_view" onclick="showSpinner(); return true;">View Logs</button>
      </form>
      <div class="d-lg-block mt-4">
        <div class="mb-3">
          For help and questions, please use the chat function on
          <a href="https://www.porttracker.co/">porttracker.co</a> or
          <a href="mailto:info@navisense.de">send us an email</a>.
        </div>
      </div>
    </div>
  </div>
  #}
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Dozzle (Docker container logs)</h5>
      <p>
        Here you can view logs of running Docker containers on the system. This is also available
        <a href="{{ url_for('dozzle') }}">as a separate page</a>.
      </p>
      <iframe class="w-100 vh-50" src="{{ url_for('dozzle-fullscreen') }}"></iframe>
    </div>
  </div>
  <script>
    let browser_ip = null;
    {% if system.system_info.external_ip %}
      const feeder_ip = "{{ system.system_info.external_ip }}";
    {% else %}
      const feeder_ip = null;
    {% endif %}
    function compareIps() {
      if (feeder_ip == null || browser_ip == null) {
        return;
      }
      if (browser_ip != feeder_ip) {
        console.log("IP check: browser got", browser_ip, "feeder has", feeder_ip);
        $("#ip-mismatch").removeClass("d-none")
      } else {
        $("#ip-match").removeClass("d-none")
      }
    }
    fetch("https://api.ipify.org?format=json", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        browser_ip = data["ip"];
        compareIps();
      });
  </script>
{% endblock content %}
