{% extends "base-regular.html" %}
{% set active_page = "systemmgmt" %}
{% block title %}
  System Management
{% endblock title %}
{% block content %}
  <div class="row row-cols-1 row-cols-lg-2 g-3 m-3">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Update feeder application</h5>
          <form method="post"
                action="{{ url_for('feeder-update') }}"
                onsubmit="showSpinner(); return true;">
            {% with %}
              {% set current_version = get_conf("base_version") %}
              <p class="m-1">
                The device is currently running <strong>{{ current_version }}</strong>.
              </p>
              <p class="m-1">
                You can manually install a newer version (downgrades to previous versions are not supported at the
                moment). You can also configure the device to install the latest version automatically every night.
              </p>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="m-1">
                    <label for="feeder-update-tag-select">These versions are available to update to:</label>
                    <select id="feeder-update-tag-select" name="tag">
                      {% for tag in stable_versions %}
                        {% set disabled = False %}
                        {% if Semver.is_semver(current_version) %}
                          {% set disabled = Semver.parse(current_version) >= tag %}
                        {% endif %}
                        <option value="{{ tag }}"
                                {% if tag == stable_versions[0] %}selected{% endif %}
                                {% if disabled %}disabled{% endif %}>{{ tag }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <button id="feeder-update-submit"
                          type="submit"
                          class="btn btn-primary m-1 w-100"
                          name="do-feeder-update-now">Update the feeder now</button>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="m-1">
                    <input id="nightly-feeder-update"
                           class="form-check-input"
                           name="nightly-feeder-update-enabled"
                           type="checkbox"
                           {% if get_conf('nightly_feeder_update') -%}checked{%- endif %}>
                    <label for="nightly-feeder-update" class="form-check-label">Update every night</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <button type="submit"
                          class="btn btn-primary m-1 w-100"
                          name="configure-feeder-update">Configure nightly update</button>
                </div>
              </div>
            {% endwith %}
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">System update</h5>
          <form method="post"
                action="{{ url_for('os-update') }}"
                onsubmit="showSpinner(); return true;">
            <p class="m-1">
              You can manually upgrade software packages installed via the operating system's package manager here. You
              can also configure the system to do this automatically every night.
            </p>
            <div class="row align-items-center">
              <div class="col-12">
                <button type="submit"
                        class="btn btn-primary m-1 w-100"
                        name="do-system-update-now">Do system update now</button>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <div class="m-1">
                  <input id="nightly-system-update"
                         class="form-check-input"
                         name="nightly-system-update-enabled"
                         type="checkbox"
                         {% if get_conf('nightly_base_update') -%}checked{%- endif %}>
                  <label for="nightly-system-update" class="form-check-label">Update every night</label>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit"
                        class="btn btn-primary m-1 w-100"
                        name="configure-system-update">Configure nightly update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Restart / recreate containers</h5>
          <form method="post"
                action="{{ url_for('restart-containers') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12">
                <label for="restart_containers" class="m-1">
                  Typically this shouldn't be necessary, but occasionally it seems that for whatever reason a container
                  doesn't pick up a setting or gets otherwise stuck.
                  <br>
                  Not selecting any containers means that the action will be performed for all containers.
                </label>
              </div>
              <div class="row align-items-center">
                <div class="col-12 col-md-8">
                  <div class="row align-items-center m-1">
                    {% for container in containers %}
                      <div class="col-12">
                        <input type="checkbox"
                               name="{{ container.name }}"
                               id="restart-{{ container.name }}">
                        <label for="restart-{{ container.name }}">{{ container.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="row align-items-center">
                    <button type="submit" class="btn btn-primary m-1 w-100" name="restart">Restart Containers</button>
                    <button type="submit" class="btn btn-primary m-1 w-100" name="recreate">Recreate Containers</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">System log persistence toggle</h5>
          <form method="post"
                action="{{ url_for('toggle-log-persistence') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <div class="row align-items-center m-1">
                  Currently the log is
                  {% if not get_conf("journal.is_persistent") %}not{% endif %}
                  written to disk.
                </div>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">
                  {% if get_conf("journal.is_persistent") %}
                    Disable
                  {% else %}
                    Enable
                  {% endif %}
                  persistent logging
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-1">CSS Theme</h5>
          <p>You can select a CSS theme here that will affect the style of the web interface.</p>
          <form method="post" action="{{ url_for('set-css-theme') }}">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <input type="radio"
                       name="css-theme"
                       id="css-light"
                       value="light"
                       {% if get_conf("css_theme")=="light" %}checked{% endif %}>
                <label class="form-check-label mr-3" for="css-light">Light Theme</label>
                <input type="radio"
                       name="css-theme"
                       id="css-dark"
                       value="dark"
                       {% if get_conf("css_theme")=="dark" %}checked{% endif %}>
                <label class="form-check-label mr-3" for="css-dark">Dark Theme</label>
                <input type="radio"
                       name="css-theme"
                       id="css-auto"
                       value="auto"
                       {% if get_conf("css_theme")=="auto" %}checked{% endif %}>
                <label class="form-check-label mr-3" for="css-auto">Auto</label>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">Apply</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-1">Parallel Docker downloads</h5>
          <p>
            On initial install and during updates, Docker images need to be downloaded onto the feeder. The default
            behavior is for multiple downloads to be started at once. This works well on most connections and most
            devices. However, it can be helpful on slow connections or weak devices to force Docker to only download one
            thing at a time. This can help avoid update failures or improve update speed slightly.
          </p>
          <form method="post"
                action="{{ url_for('toggle-docker-concurrent-downloads') }}">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <p class="row align-items-center m-1">
                  Currently, parallel downloads are
                  {% if get_conf('docker_concurrent') %}
                    enabled.
                  {% else %}
                    disabled.
                  {% endif %}
                </p>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100">
                  {% if get_conf("docker_concurrent") %}
                    Disable
                  {% else %}
                    Enable
                  {% endif %}
                  parallel downloads
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Reboot</h5>
          <form method="post"
                action="{{ url_for('shutdown-reboot') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <label for="reboot" class="m-1">
                  Reboot the feeder. Please note that some boards are not able to reboot without manually power
                  cycling.
                </label>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100" name="reboot">Reboot</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title m-1">Shutdown</h5>
          <form method="post"
                action="{{ url_for('shutdown-reboot') }}"
                onsubmit="showSpinner(); return true;">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <label for="shutdown" class="m-1">
                  Shutdown the feeder. Most boards won't turn off power by themselves.
                </label>
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary m-1 w-100" name="shutdown">Shutdown</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function setUpdateButtonEnabledDisabled() {
      const selectedVersion = $('#feeder-update-tag-select option:selected').val();
      const currentVersionSelected = selectedVersion == '{{ get_conf("base_version") }}';
      $('#feeder-update-submit').prop('disabled', currentVersionSelected);
    }

    $('#feeder-update-tag-select').on('change', setUpdateButtonEnabledDisabled);

    setUpdateButtonEnabledDisabled();
  </script>
{% endblock content %}
