{% extends "base-regular.html" %}
{% set active_page = "visualization" %}
{% block title %}
  Setup Map Options
{% endblock title %}
{% block content %}
  <form class="row gy-2 gx-3 align-items-center" method="post">
    <div class="col-12 form-check">
      <input class="form-check-input me-1"
             type="checkbox"
             name="enable-route-api"
             id="enable-route-api"
             {% if get_conf("route_api") %}checked{% endif %}>
      <label for="enable-route-api" class="mb-3">Use Route API to show flight routes when known.</label>
    </div>
    <div class="col-12">
      <p>
        <a href="https://www.heywhatsthat.com/">HeyWhat'sThat</a> is an incredibly cool web service that allows
        you to discover what you should be able to see from the location of your antenna - including estimates for
        how far away you should be able to detect planes (depending on their altitude - and assuming there are no
        other obstructions).
        Click on the link, select "New Panorama" at the top, enter your address (or find the location
        on the map), enter a title on the lower left and click "Submit request". After a couple of minutes
        you'll be offered to look at your panorama. At the top left you'll see the title you just entered, the
        latitude and longitude and elevation - and below that a link that ends with <code>/?view=CODE</code>.
        Enter this code here to see the theoretical range information on your receiver map.
      </p>
      <input type="text"
             id="heywhatsthat-id"
             name="heywhatsthat-id"
             class="form-control col-6 ml-1 mb-2"
             placeholder="HeyWhat'sThat Panorama ID"
             value="{{ get_conf('heywhatsthat_id', default='') }}">
    </div>
    <div class="col-12">
      The tar1090 map maintains an outline for the area around your feeder where planes have been observed; sometimes
      it may be desirable to reset that (for example after you changed location). Select the checkbox and submit below
      to clear that range outline.
      <button form="reset-range-outline-form" type="submit" class="btn btn-primary">Clear range outline</button>
    </div>
    <button type="submit"
            class="btn btn-accent btn-block btn-lg my-5"
            name="visualization">Apply settings</button>
  </form>
  <form id="reset-range-outline-form"
        action="{{ url_for('clear-range-outline') }}"
        method="post">
  </form>
{% endblock content %}
